<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeploymentInformation</key>
	<dict>
		<key>FileName</key>
		<string>PiTre</string>
		<key>ProjectVersion</key>
		<string>0.08.21.6</string>
		<key>BuildNumber</key>
		<string>8216</string>
		<key>DestinationURL</key>
		<string>https://mctsuite.it.nttdata-emea.com/preview/informaticatrentina/pitre</string>
		<key>ProjectTitle</key>
		<string>PiTre - Informatica Trentina</string>
	</dict>
</dict>
</plist>
