<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SignerPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/InfoCertSigner/Signer"
                binding="basicHttpBinding" bindingConfiguration="SignerPortBinding"
                contract="InfoCertSignerService.Signer" name="SignerPort" />
        </client>
    </system.serviceModel>
</configuration>