<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Publisher.WebTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings/>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
-->
    <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <applicationSettings>
    <Publisher.WebTest.Properties.Settings>
      <setting name="SubscriberWebServices" serializeAs="String">
        <value>http://localhost/DocsPa30/Subscriber.WebServiceHost/SubscriberWebService.asmx</value>
      </setting>
      <setting name="Publisher_WebTest_PITRE_DocsPaWebService" serializeAs="String">
        <value>http://localhost/DocsPa30-frezza/DocsPaWS/docspaws.asmx</value>
      </setting>
      <setting name="PublisherWebServices" serializeAs="String">
        <value>http://localhost/DocsPa30/DocsPaWS/Publisher/PublisherWebService.asmx</value>
      </setting>
    </Publisher.WebTest.Properties.Settings>
    <!--
        <Publisher.WebTest.Properties.Settings>
            <setting name="Publisher_WebTest_PITRE_DocsPaWebService" serializeAs="String">
                <value>http://localhost/DocsPa30-frezza/DocsPaWS/docspaws.asmx</value>
            </setting>
            <setting name="PublisherWebServices" serializeAs="String">
                <value>http://localhost/DocsPa30-frezza/DocsPaWS/Publisher/PublisherWebService.asmx</value>
            </setting>
            <setting name="SubscriberWebServices" serializeAs="String">
                <value>http://localhost/DocsPa30-frezza/Subscriber.WebServiceHost/SubscriberWebService.asmx</value>
            </setting>
        </Publisher.WebTest.Properties.Settings>
        -->
  </applicationSettings>
</configuration>