<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="administrable_keys" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral,&#xD;&#xA;   PublicKeyToken=b77a5c561934e089, Custom=null" />
    <!-- section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" /-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>










  <system.web>
    <!--  HTTP runtime settings
          executionTimeout - Indicates the maximum number of seconds that a request is allowed to execute 
          before being automatically shut down by ASP.NET.
          maxRequestLength - Indicates the maximum file upload size supported by ASP.NET. This limit can be
          used to prevent denial of service attacks caused by users posting large files to the server.
	-->
    <httpRuntime executionTimeout="600000" maxRequestLength="102400" />
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <compilation defaultLanguage="c#" debug="true">
      <assemblies>
        <!--add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /-->
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!-- -  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off" />
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->

    <authentication mode="Windows" />
    <identity impersonate="true" userName="valueteam\lucianilu" password="Wert!!!!" />
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization culture="it-IT" requestEncoding="utf-8" responseEncoding="utf-8" />
    <!--gestisce i caratteri angolari-->
    <pages enableEventValidation="false" validateRequest="false">
    </pages>
  </system.web>

  <appSettings>
    <add key="LOG_LEVEL" value="2" />
    <add key="LOG_PATH" value="c:\Collaudo\%SERVERNAME\Backend" />
    <add key="DEBUG_PATH" value="c:\Collaudo\%SERVERNAME\Backend\AppDebug\%DATA" />
    <add key="CHIAVE_TOKEN" value="" />
    <add key="connectionString" value="User id=infotn_coll; Password=collschema2807; Data Source=PITRE;" />

    <!--<add key="connectionString" value="server=vt-7pa; uid=docsadm; pwd=docsadm; database=invalsiTest" />-->
    <add key="oracleSequenceName" value="seq" />
    <add key="DBType" value="oracle" />
    <add key="prefissiRubricaRiservati" value="OCC_;INTEROP_;INS_" />
    <add key="separator" value=";" />
    <add key="prefissoInsertCorr" value="INS_" />
    <add key="prefissoCorrOccasionale" value="OCC_" />
    <add key="numeroMaxRisultatiQuery" value="7100000" />
    <add key="DOC_ROOT" value="c:\FarmPiTre\PitreRepository\Collaudo\DocServer" />
    <add key="DOC_PATH" value="AMMINISTRAZIONE\ANNO\REGISTRO\UFFICIO\ARRIVO_PARTENZA\%DATA" />
    <add key="importExportLogPath" value="c:\FarmPiTre\PitreRepository\Collaudo\ImpExpLog\importExportLog.xml" />
    <add key="REPORTS_PATH" value="c:\FarmPiTre\PitreRepository\Collaudo\Reports\%DATA" />
    <add key="XSDFilePath" value="report/templateXml/" />
    <add key="QueryFilePath" value="xml/" />
    <add key="ImportExportQuery" value="xml/importExportQueryList.xml" />
    <add key="ARCHIVIO_LOG_PATH" value="c:\FarmPiTre\PitreRepository\Collaudo\ArchivioLog" />
    <add key="EST_VIS_SUP_PARI_LIV" value="0" />
    <add key="DTD_SEGNATURA_PATH" value="xml/segnatura.dtd" />
    <add key="ELABORA_MAIL_ORDINARIE" value="1" />
    <add key="ELIMINA_MAIL_ELABORATE" value="0" />

    <add key="MODELS_ROOT_PATH" value="c:\FarmPiTre\PitreRepository\Collaudo\Modelli" />
    <add key="PKCS7InputDirectory" value="c:\FarmPiTre\PitreRepository\Collaudo\sign\input\" />
    <add key="PKCS7OutputDirectory" value="c:\FarmPiTre\PitreRepository\Collaudo\sign\output\" />
    <add key="RetrieveCRLTimeout" value="20" />
    <add key="CRLOnlineCheck" value="false" />
    <add key="pathAcquisizioneBatch" value="" />
    <add key="UrlAcquisizioneBatch" value="" />
    <add key="ELIMINA_RICEVUTE_PEC" value="0" />
    <add key="BATCH_INTEROP" value="0" />
    <add key="NUM_TENTATIVI_CONN_SVR_POSTA" value="2" />
    <add key="INTEROP_INT_NO_MAIL" value="0" />
    <add key="PDF_CONVERT_INLINE_ACTIVE" value="true" />
    <add key="INLINE_CONVERTER_URL" value="http://collaudo.pitre.tn.it/ConverterEngine/ConverterEngine.Proxy.asmx" />
    <add key="PDF_CONVERTER_TYPE" value="DPA.EZTwain.PdfConverter, DPA.EZTwain.PdfConverter" />
    <add key="PDF_CONVERTIBLE_FILE_TYPES" value="TIFF|TIF|JPG|JPEG|BMP|PNG" />
    <add key="ProtoASLPathFolder" value="c:\xml\" />
    <add key="FULLTEXT_INDEX_CATALOG" value="DocsPA_FULLTEXT" />
    <add key="FULLTEXT_INDEXING_WS" value="...." />
    <add key="SUPPORTED_FILE_TYPES_ENABLED" value="true" />
    <add key="FULLTEXT_SPECIAL_CHARACTERS" value="| &amp; % ( ) | , =" />
    <add key="FULLTEXT_WILDCARD_CHARACTER" value="\" />
    <add key="APPLICATION_NAME" value=" " />
    <add key="ENABLE_CANC_DOC_TRASMESSI" value="1" />
    <add key="ENABLE_RF" value="1" />
    <add key="POP3_CONN_TIMEOUT" value="12" />
    <add key="ARCHIVIO_LOG_PATH_AMM" value="c:\FarmPiTre\PitreRepository\Collaudo\ArchivioLogAmm" />
    <add key="READ_IMAGES_ROOT_PATH" value="~/images/testata/320" />
    <add key="IMAGES_ROOT_PATH" value="c:\FarmPiTre\Sites\pitre.tn.it\Collaudo\Frontend\images\testata\320" />
    <add key="ADMIN_IMAGES_ROOT_PATH" value="c:\FarmPiTre\Sites\pitre.tn.it\Collaudo\Frontend\AdminTool\Images" />
    <add key="MITT_DEST_ADDRESS" value="false" />
    <add key="IMAGES_PATH" value="c:\FarmPiTre\Sites\PITRE\pitre.tn.it\Collaudo\Frontend\images\loghiAmministrazioni" />
    <add key="IS_ENABLED_PROFILAZIONE_ALLEGATI" value="true" />
    <add key="INDICE_SISTEMATICO" value="1" />
    <add key="VISIB_POST_TRASM_WF" value="1" />
    <add key="INOLTRA_DOC" value="1" />
    <add key="LdapUserSyncActive" value="false" />
    <add key="TRASMISSIONE_AUTOMATICA" value="0" />

    <add key="documentale" value="ETNOTEAM" />
    <add key="DocumentumServiceUrl" value="http://172.20.15.44:9080/services/" />
    <add key="DocumentumRepositoryName" value="p3doc_pat_coll" />
    <add key="DocumentumSuperUser" value="docspadmin" />
    <add key="DocumentumSuperUserPwd" value="AdminTAP!" />
    <add key="PitreDualFileWritingMode" value="false" />
    <add key="DocumentumTokenFactoryServiceUrl" value="http://dctm-ws-token.intra.infotn.it:9180/ws-dctm/DctmTicket?wsdl"/>




    <add key="RubricaComuneAmministrazione" value="true" />
    <add key="RubricaComuneConnectionString" value="serviceRoot=http://www.pitre.tn.it/rubrica30/; userId=sa; password=" />






    <!-- LASCIARE RC DI TEST OCCHIO -->
    <!--<add key="RubricaComuneAmministrazione" value="false" />
    <add key="RubricaComuneConnectionString" value="serviceRoot=http://test4.pitre.tn.it/RubricaWS/; userId=sa; password=" />-->

    <add key="CONVERSIONE_PDF_LATO_SERVER" value="true" />
    <add key="ADDRESS_SERVER_CODA_PDF" value="http://pdf-converter.intra.infotn.it/CodaPdfDocsPa/" />
    <add key="PDF_CONVERT_SERVER_NOTIFY" value="US" />

    <add key="CONVERSIONE_PDF_SINCRONA_LC" value="true" />
    <add key="LIVECYCLE_SERVICE_SERVER" value="http://pdf-converter.intra.infotn.it:8080/soap/services/" />
    <add key="LIVECYCLE_SERVICE_GENERATE_PDF_SERVICE" value="http://pdf-converter.intra.infotn.it:8080/soap/services/GeneratePDFService?wsdl" />
    <add key="LIVECYCLE_USERNAME" value="pitre" />
    <add key="LIVECYCLE_PASSWORD" value="P1treadmin?" />
    <add key="LIVECYCLE_SERVICE_PROCESS_FORM" value="" />
    <add key="LIVECYCLE_SERVICE_PROCESS_BARCODE_FORM" value="" />

    <add key="SET_DATA_VISTA_GRD" value="2" />
    <add key="INTEROP_SEGNATURA_SOLO_UO" value="1" />
    <add key="NON_EREDITA_MITTENTE_USCITA" value="1" />
    <add key="SESSION_REPOSITORY_DISABLED" value="true" />
    <add key="VISIB_POST_TRASM_WF" value="1" />
    <add key="" value="" />
    <add key="DS_PROVIDER" value="Microsoft.ACE.OLEDB.12.0;" />
    <add key="DS_EXTENDED_PROPERTIES" value="Excel 12.0 Macro;HDR=YES;" />
    <add key="FTP_ADDRESS" value="ftp://172.20.15.39:990" />
    <add key="FTP_USERNAME" value="pitre-sftp" />
    <add key="FTP_PASSWORD" value="p3Ftp4SFTP!" />
    <add key="FTPSSL" value="1"/>
    <add key="SEGNATURA_NEL_SUBJECT" value="false" />
    <add key="ENABLE_MITTENTI_MULTIPLI" value="true" />
    <add key="SEGNATURA_NEL_SUBJECT" value="true" />
    <add key="GESTIONE_RICEVUTE_PEC" value="true" />
    <add key="SALVA_RICEVUTE_PEC" value="true" />
    <add key="DTD_DATICERT_PATH" value="xml/daticert.dtd" />
    <add key="APP_CHIAMANTE_TIMESTAMP" value="PI3+" />
    <add key="ENABLE_TIMESTAMP" value="1" />
    <add key="TYPE_TSA" value="DocsPa_TSAuthority_InfoTN_V2HASH.TSR_Request, DocsPa_TSAuthority_InfoTN" />
    <add key="URL_TSA" value="https://ws-p.marca.intra.infotn.it:18602/Resources/WebServices/MarcaturaTemporale.serviceagent/Soap11" />



    <add key="ADMIN_IMAGES_ROOT_PATH" value="" />
    <add key="MITT_DEST_ADDRESS" value="false" />
    <add key="SESSION_REPOSITORY_DISABLED" value="false" />
    <add key="" value="" />
    <add key="XML_PREFIX_NAME" value="CONSERVAZIONE_PITRE_" />



    <add key="APP_CHIAMANTE_TIMESTAMP" value="PI3+" />
    <add key="ENABLE_TIMESTAMP" value="1" />
    <add key="TYPE_TSA" value="DocsPa_TSAuthority_InfoTN_V2HASH.TSR_Request, DocsPa_TSAuthority_InfoTN" />
    <add key="URL_TSA" value="https://ws-s.marca.intra.infotn.it:15602/Resources/WebServices/MarcaturaTemporale.serviceagent/Soap11" />


    <add key="CLRVerificationModuleArgument" value="http://test.pitre.tn.it/CollaudoConservazione/ServizioCLR/ClrVerification.asmx" />


    <add key="VISIB_POST_TRASM_WF" value="1" />
    <add key="ENABLE_MITTENTI_MULTIPLI" value="true" />
    <!-- Permetet di gestire le ricevute PEC -->
    <add key="GESTIONE_RICEVUTE_PEC" value="true" />
    <!--Permetet di salvare sul fiel systrem le ricevute PEC  -->
    <add key="SALVA_RICEVUTE_PEC" value="true" />
    <!--dtd per daticert.xml -->
    <add key="DTD_DATICERT_PATH" value="xml/daticert.dtd" />
    <add key="SEGNATURA_NEL_SUBJECT" value="false" />
    <add key="TRASMISSIONE_AUTOMATICA" value="0" />
    <!--cpermette di attivare o meno la notifica in tdl dell'avvenuta conversione in pdf.

  i vaolri possibile sono : RS: notifica con trasmissione al ruolo di tipo UNO : DEFAULT

                          : RT notifica con trasmissione al ruolo di tipo TUTTI

                          : US: notifica con trasmissione al UTENTE 

                          : 0: oppure se la chiave non presente  allora la notifica non viene effettuata in nessun caso-->
    <add key="PDF_CONVERT_SERVER_NOTIFY" value="US" />

    <add key="RubricaComuneAmministrazione" value="true" />
    <add key="RubricaComuneConnectionString" value="serviceRoot=http://test4.pitre.tn.it/RubricaWS30/; userId=sa; password=" />


    <add key="DS_EXTENDED_PROPERTIES" value="Excel 12.0 Macro;HDR=YES;" />
    <add key="DS_PROVIDER" value="Microsoft.ACE.OLEDB.12.0;" />
    <!--add key="DS_PROVIDER" value="Microsoft.Jet.OLEDB.4.0;"/-->
    <!--add key="DS_EXTENDED_PROPERTIES" value="Excel 8.0;HDR=YES;"/-->

    <!-- Integrazione AD -->
    <add key="LdapIntegrationActive" value="true" />
    <!-- token factory di test -->
    <!-- add key="DocumentumTokenFactoryServiceUrl" value="http://172.20.0.92:28280/ws-dctm/DctmTicket?wsdl"/ -->
    <!-- token factory di produzione -->
    <add key="DocumentumTokenFactoryServiceUrl" value="http://172.20.1.66:9180/ws-dctm/DctmTicket?wsdl" />

    <!-- add key="IMAP_READ_TIMEOUT" value="60"/ -->
    <add key="PROTOCOLLAZIONE_LIBERA" value="false" />
    <add key="URL_PATH_IS" value="http://collaudo.pitre.tn.it/collaudo/" />
    <add key="PUBLISHER_DISABLED" value="true" />
  </appSettings>
  <administrable_keys>
    <key name="LOG_LEVEL" admin-mode="custom" description="Indica il dettaglio della visualizzazione dei log (0=No Log; 1=Log su finestra Output - Disabilitato in modalita Release; 2=Generazione File e Log su finestra Output - Disabilitato in modalita Release)" category="Log" val-type="0;1;2" />
    <key name="LOG_PATH" admin-mode="none" description="Inserisce i file temporanei dell'interoperabilita e delle trasmissioni" category="Log" />
    <key name="DEBUG_PATH" admin-mode="none" description="Indica la cartella radice ove saranno prodotti i file di log del BackEnd" category="Log" />
    <key name="connectionString" admin-mode="none" description="Fornisce la stringa di connessione del backend al database" category="Database" />
    <key name="oracleSequenceName" admin-mode="none" description="Indica il nome della sequence Oracle da usare per la produzione delle chiavi identificative (solo su Oracle)" category="Database" />
    <key name="prefissiRubricaRiservati" admin-mode="none" description="Indica i prefissi dei codici di rubrica che sono riservati da DocsPA" category="Sistema" />
    <key name="separator" admin-mode="none" description="Separatore dei codici riservati" category="Sistema" />
    <key name="prefissoInsertCorr" admin-mode="none" description="Indica il prefisso del codice di rubrica per i corrispondenti aggiunti automaticamente" category="Sistema" />
    <key name="prefissoCorrOccasionale" admin-mode="none" description="Gestisce il corretto inserimento del codice rubrica per i corrispondenti occasionali " category="Sistema" />
    <key name="numeroMaxRisultatiQuery" admin-mode="custom" description="Numero massimo di risultati mostrati nelle ricerche" category="Database" />
    <key name="DOC_ROOT" admin-mode="none" description="Percorso del repository documentale ET in cui verranno posti i nuovi documenti acquisiti" category="Gestione Documenti" />
    <key name="DOC_PATH" admin-mode="setup" description="Distribuzione dei documenti nel repository documentale" category="Gestione Documenti" />
    <key name="importExportLogPath" admin-mode="none" description="Importa/Esporta dati nel file XML per l'amministrazione" category="Log" />
    <key name="REPORTS_PATH" admin-mode="custom" description="Percorso del repository in cui vengono prodotti i report dei registri" category="Log" />
    <key name="XSDFilePath" admin-mode="none" description="Indica la posizione del file xsd per la validazione dei template di reportistica" category="Log" />
    <key name="QueryFilePath" admin-mode="none" description="Percorso del descrittore xml delle query specifiche Oracle/Sql Server utilizzate dall'amministrazione e da DocsPA" category="Database" />
    <key name="ImportExportQuery" admin-mode="none" description="File xml importazione/esportazione dati dell'amministrazione" category="Database" />
    <key name="ARCHIVIO_LOG_PATH" admin-mode="none" description="Percorso del repository dei log in formato PDF" category="Log" />
    <key name="DTD_SEGNATURA_PATH" admin-mode="none" description="Percorso del file di validazione del descrittore delle email di interoperabilita" category="Sistema" />
    <key name="ELABORA_MAIL_ORDINARIE" admin-mode="custom" description="Abilita l'interoperabilita alla lettura di tutte le email, anche se non rispondenti alla normativa (0=non abilitare; 1=abilitare)" category="Interoperabilita'" val-type="0;1" />
    <key name="ELIMINA_MAIL_ELABORATE" admin-mode="custom" description="Abilita la cancellazione delle email caricate in DocsPA dopo l'acquisizione (0=non abilitare; 1=abilitare)" category="Interoperabilita'" val-type="0;1" />
    <key name="DBType" admin-mode="none" description="Descrive il tipo di database in uso (Oracle, SQLServer)" category="Database" val-type="Oracle;SQLServer" />
    <key name="MODELS_ROOT_PATH" admin-mode="custom" description="Percorso della cartella contenente i modelli word per la creazione di documenti" category="Gestione Documenti" />
    <key name="PKCS7InputDirectory" admin-mode="custom" description="Path di input nel quale viene reperito il file firmato da verificare" category="Firma Digitale" />
    <key name="PKCS7OutputDirectory" admin-mode="custom" description="Path di output nel quale viene scritto il file originariamente firmato" category="Firma Digitale" />
    <key name="RetrieveCRLTimeout" admin-mode="custom" description="Timeout in secondi per la verifica on line della CRL" category="Firma Digitale" />
    <key name="CRLOnlineCheck" admin-mode="custom" description="Abilita la verifica on line della CRL (true=abilitare; false=disabilitare)" category="Firma Digitale" val-type="true;false" />
    <key name="pathAcquisizioneBatch" admin-mode="none" description="Percorso del repository dei documenti di cui necessita l'acquisizione massiva" category="Acquisizione Massiva" />
    <key name="UrlAcquisizioneBatch" admin-mode="none" description="Url del programma per l'acquisizione massiva" category="Acquisizione Massiva" />
    <key name="ELIMINA_RICEVUTE_PEC" admin-mode="custom" description="Abilita la cancellazione delle ricevute di ritorno" category="Interoperabilita'" val-type="0;1" />
    <key name="BATCH_INTEROP" admin-mode="none" description="Indica la presenza del bacth per eseguire le funzioni dell'interoperabilita" category="Interoperabilita'" val-type="0;1" />
    <key name="NUM_TENTATIVI_CONN_SVR_POSTA" admin-mode="custom" description="Indica il numero di tentativi effettuati in caso di errore durante la connessione al server di posta" category="Interoperabilita'" />
    <key name="INTEROP_INT_NO_MAIL" admin-mode="none" description="Abilita la gestione dell'interoperabilita per i corrispondenti interni senza email" category="Interoperabilita'" val-type="0;1" />
    <key name="PDF_CONVERT_INLINE_ACTIVE" admin-mode="none" description="Abilita la funzione di conversione in PDF inline" category="Conversione inline" val-type="false;true" />
    <key name="PDF_CONVERTER_TYPE" admin-mode="none" description="Abilita la conversione inline in pdf rispetto al tipo concreto utilizzato" category="Conversione inline" val-type="DPA.EZTwain.PdfConverter, DPA.EZTwain.PdfConverter;DPA.Acrobat7.PdfConverter, DPA.Acrobat7.PdfConverter;DPA.Acrobat6.PdfConverter, DPA.Acrobat6.PdfConverter" />
    <key name="PDF_CONVERTIBLE_FILE_TYPES" admin-mode="none" description="Abilita la conversione inline di tutti i file tranne il pdf" category="Conversione inline" />
    <key name="ProtoASLPathFolder" admin-mode="none" description="Chiave di configurazione per integrazione Disp-Protocollo ASL" category="Path Folder per WS" />
    <key name="FULLTEXT_INDEX_CATALOG" admin-mode="none" description="Chiave utilizzata se la ricerca fulltext viene eseguita in locale sul server di backend" category="Ricerca FullText" />
    <key name="FULLTEXT_INDEXING_WS" admin-mode="none" description="Chiave utilizzata per definire la Url del servizio web utilizzato per la ricerca FullText. Si deve digitare come valore http://NOME SERVER/Docspa30/FullTextIndexingWS/FullTextWS.asmx" category="Ricerca FullText" />
    <key name="EST_VIS_SUP_PARI_LIV" admin-mode="custom" description="Permette la propagazione della visibilita ai superiori e ai pari grado (0=non estendere; 1=estendere)" category="Sistema" val-type="0;1" />
    <key name="SUPPORTED_FILE_TYPES_ENABLED" admin-mode="none" description="Abilita sia la gestione in amministrazione che i controlli sui file in docspa" category="Gestione Formati File" />
    <key name="FULLTEXT_SPECIAL_CHARACTERS" admin-mode="none" description="Indica tutti i caratteri speciali del motore di database (operatori, parentesi, ecc..) " category="Ricerca FullText" />
    <key name="FULLTEXT_WILDCARD_CHARACTER" admin-mode="none" description="Indica il carattere che deve precedere i caratteri speciali" category="Ricerca FullText" />
    <key name="APPLICATION_NAME" admin-mode="none" description="Se si inserisce un testo questo sara' visibile nell'oggetto all'invio della email" category="Personalizzazione email" />
    <key name="ENABLE_CANC_DOC_TRASMESSI" admin-mode="none" description="Se si abilita permette la cancellazione del documento grigio/predisposti anche se trasmessi" category="Rimozione documento" val-type="0;1" />
    <key name="ENABLE_RF" admin-mode="none" description="Se si abilita visualizza la gestione dei raggruppamenti funzionali" category="Gestione Raggruppamenti Funzionali" val-type="0;1" />
    <key name="POP3_CONN_TIMEOUT" admin-mode="custom" description="Serve ad impostare il tempo in secondi in cui ci si va a riconettere al server di posta per lo scarico delle email" category="Connessione al Server di Posta" />
    <key name="IMAGES_ROOT_PATH" admin-mode="none" description="Indica la path in cui ci sono le immagini della testata" category="Gestione Grafica" />
    <key name="IMAGES_PATH" admin-mode="none" description="Indica la path in cui si vanno ad inserire le immagini" category="Gestione Grafica" val-type="0;1" />
    <key name="documentale" admin-mode="none" description="Indica il tipo di sistema documentale in uso (Etnoteam, Hummingbird, Filenet)" category="Gestione Documenti" val-type="ETNOTEAM;HUMMINGBIRD;FILENET" />
    <key name="ADMIN_IMAGES_ROOT_PATH" admin-mode="none" description="Indica la path in cui si vanno ad inserire le immagini per l amministrazione" category="Gestione Grafica" val-type="0;1" />
    <key name="CHIAVE_TOKEN" admin-mode="none" description="" category="Log" />
    <key name="MITT_DEST_ADDRESS" admin-mode="none" description="Indica se nel Export di ricerca documenti o ricerca documenti in fascicolo viene indicato se l'utente e'il mittente/destinatario ed l'indirizzo ad esso associato." category="visualizzazione Indirizzo" val-type="false;True" />
    <key name="LdapUserSyncActive" admin-mode="none" description="Abilita la funzionalita' del LDap" category="PA LDap" val-type="false;true" />
    <key name="" admin-mode="none" description="" />
  </administrable_keys>
  <system.serviceModel>

    <!--WCFExtras-->
    <extensions>
      <behaviorExtensions>
        <add name="wsdlExtensions" type="WCFExtras.Wsdl.WsdlExtensionsConfig, WCFExtras, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>

    <client>
      <endpoint address="http://172.20.15.28/CentroNotifiche/NotificationServiceOperations.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INotificationServiceOperations" contract="NotificationCenterOperationServices.INotificationServiceOperations" name="WSHttpBinding_INotificationServiceOperations">
        <identity>
          <servicePrincipalName value="host/ITASAB" />
        </identity>
      </endpoint>
    </client>

    <services>
      <service behaviorConfiguration="P3SBCLib.P3SBCServicesBehavior" name="P3SBCLib.P3SBCServices">
        <endpoint address="Mtom" binding="wsHttpBinding" bindingConfiguration="MTomBinding" name="Mtom" contract="P3SBCLib.IP3SBCServices">
          <identity>
            <userPrincipalName value="ITASAB\ASPNET" />
          </identity>
        </endpoint>
        <endpoint binding="wsHttpBinding" bindingConfiguration="TextBinding" name="Text" contract="P3SBCLib.IP3SBCServices">
          <identity>
            <userPrincipalName value="ITASAB\ASPNET" />
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="DocsPaWS.InteroperabilityServiceBehavior" name="DocsPaWS.InteroperabilityService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="SimpInteropBinding" contract="Interoperability.Interfaces.IInteroperabilityService">
          <identity>
            <userPrincipalName value="ITASAB\ASPNET" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="DocsPaWS.FileServiceBehavior" name="DocsPaWS.FileService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="SimpInteropBinding" contract="DocsPaVO.FileManager.IFileManager">
          <identity>
            <userPrincipalName value="ITASAB\protoadmin" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <!--AddressBook-->
      <service behaviorConfiguration="VtDocsWS.WebServices.AddressBookBehavior" name="VtDocsWS.WebServices.AddressBook">
        <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" bindingConfiguration="default" contract="VtDocsWS.Services.IAddressBook">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" bindingConfiguration="onHttps" contract="VtDocsWS.Services.IAddressBook">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="VtDocsWS.WebServices.AuthenticationBehavior" name="VtDocsWS.WebServices.Authentication">
        <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" bindingConfiguration="default" contract="VtDocsWS.Services.IAuthentication">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" bindingConfiguration="onHttps" contract="VtDocsWS.Services.IAuthentication">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="VtDocsWS.WebServices.ClassificationSchemesBehavior" name="VtDocsWS.WebServices.ClassificationSchemes">
        <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" bindingConfiguration="default" contract="VtDocsWS.Services.IClassificationSchemes">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" bindingConfiguration="onHttps" contract="VtDocsWS.Services.IClassificationSchemes">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <!--Documents.svc-->
      <service behaviorConfiguration="VtDocsWS.WebServices.DocumentsBehavior" name="VtDocsWS.WebServices.Documents">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="default" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IDocuments">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>

        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="onHttps" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IDocuments">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="VtDocsWS.WebServices.ProjectsBehavior" name="VtDocsWS.WebServices.Projects">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="default" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IProjects">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="onHttps" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IProjects">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="VtDocsWS.WebServices.RegistersBehavior" name="VtDocsWS.WebServices.Registers">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="default" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IRegisters">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="onHttps" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IRegisters">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="VtDocsWS.WebServices.RolesBehavior" name="VtDocsWS.WebServices.Roles">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="default" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IRoles">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="onHttps" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IRoles">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="VtDocsWS.WebServices.TransmissionsBehavior" name="VtDocsWS.WebServices.Transmissions">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="default" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.ITransmissions">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="onHttps" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.ITransmissions">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="VtDocsWS.WebServices.TokenBehavior" name="VtDocsWS.WebServices.Token">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="default" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IToken">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="onHttps" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IToken">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="MTomBinding" maxReceivedMessageSize="65536000" messageEncoding="Mtom">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="TextBinding" maxReceivedMessageSize="65536010">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_INotificationServiceOperations" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SimpInteropBinding">
          <security mode="None"></security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="SimpInteropBinding" transferMode="Streamed" maxReceivedMessageSize="2147483648" maxBufferSize="64000">
          <security mode="None" />
        </binding>

        <binding name="default" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>

        <binding name="onHttps" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>

    </bindings>
    <behaviors>

      <!--WCFExtras-->
      <endpointBehaviors>
        <behavior name="singleFileEndpointBehavior">
          <wsdlExtensions singleFile="True" />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>

        <behavior name="VtDocsWS.WebServices.AddressBookBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add port="80" scheme="http" />
              <add port="443" scheme="https" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>
        </behavior>
        <behavior name="VtDocsWS.WebServices.AuthenticationBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add port="80" scheme="http" />
              <add port="443" scheme="https" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>

          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />



        </behavior>
        <behavior name="VtDocsWS.WebServices.ClassificationSchemesBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />

          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add port="80" scheme="http" />
              <add port="443" scheme="https" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>

        </behavior>

        <behavior name="VtDocsWS.WebServices.DocumentsBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />

          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add port="80" scheme="http" />
              <add port="443" scheme="https" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>

        </behavior>

        <behavior name="VtDocsWS.WebServices.ProjectsBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />

          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add port="80" scheme="http" />
              <add port="443" scheme="https" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>

        </behavior>
        <behavior name="VtDocsWS.WebServices.RegistersBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />

          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add port="80" scheme="http" />
              <add port="443" scheme="https" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>

        </behavior>
        <behavior name="VtDocsWS.WebServices.RolesBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />

          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add port="80" scheme="http" />
              <add port="443" scheme="https" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>

        </behavior>
        <behavior name="VtDocsWS.WebServices.TransmissionsBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />

          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add port="80" scheme="http" />
              <add port="443" scheme="https" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>

        </behavior>
        <behavior name="VtDocsWS.WebServices.TokenBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:50:00" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />

          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add port="80" scheme="http" />
              <add port="443" scheme="https" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>
        </behavior>
        <behavior name="P3SBCLib.P3SBCServicesBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="DocsPaWS.InteroperabilityServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="DocsPaWS.FileServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <log4net>
    <!--<appender name="BE" type="DocsPaUtils.LogsManagement.DateTimeRollingFileAppender, DocsPaUtils">
      <param name="ServerName" value="${COMPUTERNAME}" />
      <environmentHandler value="DocsPaWS.Log.DefaultEnvironmentHandler, DocsPaWS" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%property{userId}] %-5level %logger %M - %message%newline" />
      </layout>
      <filter type="DocsPaUtils.LogsManagement.EnableFilter, DocsPaUtils">
        <environmentHandler value="DocsPaWS.Log.DefaultEnvironmentHandler, DocsPaWS" />
      </filter>
    </appender>-->

    <!--<appender name="BE" type="log4net.Appender.RollingFileAppender">
      <file value="c:\FarmPiTre\App_Logs\Collaudo\${COMPUTERNAME}\Backend\Appdebug\be20.log" />
	    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true"/>
      <maximumFileSize value="100MB"/>
      <maxSizeRollBackups value="2"/>
	  <rollingStyle value="Size"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%property{userId}] %-5level %logger %M - %message%newline" />
      </layout>
    </appender>-->

    <appender name="BE" type="log4net.Appender.RollingFileAppender">
      <file value="c:\be.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true"/>
      <maximumFileSize value="100MB"/>
      <maxSizeRollBackups value="2"/>
      <rollingStyle value="Size"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%property{userId}] %-5level %logger %M - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
    </root>
    <!-- logger name="Publisher">
      <appender-ref ref="BE" />
    </logger -->


    <logger name="VtDocsWS">
      <appender-ref ref="BE" />
    </logger>

    <logger name="DocsPaWS">
      <appender-ref ref="BE" />
    </logger>
    <logger name="DocsPaDB">
      <appender-ref ref="BE" />
    </logger>
    <logger name="BusinessLogic">
      <appender-ref ref="BE" />
    </logger>
    <logger name="DocsPaDocumentale_ETDOCS">
      <appender-ref ref="BE" />
    </logger>
    <logger name="DocsPaDocumentale_DOCUMENTUM">
      <appender-ref ref="BE" />
    </logger>
    <logger name="DocsPaDocumentale_PITRE">
      <appender-ref ref="BE" />
    </logger>
  </log4net>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="90000000" />
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <add value="docspaws.asmx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>