#box {
	VISIBILITY: hidden; POSITION: absolute; layer-background-color: #23415f
}
.titolo_rosso {
	FONT-SIZE: 8px; TEXT-TRANSFORM: uppercase; COLOR: #23415f; TEXT-INDENT: 2px; FONT-FAMILY: 04b_20, Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px
}
.titolo_grigio {
	FONT-SIZE: 8px; TEXT-TRANSFORM: uppercase; COLOR: #666666; TEXT-INDENT: 2px; FONT-FAMILY: 04b_20, Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px
}


.titolo_bianco {
	FONT-SIZE: 8px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; TEXT-INDENT: 2px; FONT-FAMILY: 04b_20, Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px
}
.titolo_schede {
	FONT-SIZE: 16px; TEXT-TRANSFORM: uppercase; COLOR: #666666; TEXT-INDENT: 2px; FONT-FAMILY: 04b_24, Verdana, Arial, Helvetica, sans-serif
}
.sub_titolo_schede {
	FONT-SIZE: 8px; TEXT-TRANSFORM: uppercase; COLOR: #666666; TEXT-INDENT: 2px; FONT-FAMILY: 04b_24, Verdana, Arial, Helvetica, sans-serif
}

.menu_1_bianco {
	FONT-SIZE: 8px;
    font-weight: bold;
	TEXT-TRANSFORM: uppercase; 
	COLOR: #ffffff; 
	TEXT-INDENT: 0px; 
	FONT-FAMILY: Sevenet 7, 04b_08, Verdana, Arial, Helvetica, sans-serif; 
	letter-spacing:0px; 
	line-height: 9px  
}

.menu_1_bianco_sab {
	FONT-SIZE: 8px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; TEXT-INDENT: 0px; LINE-HEIGHT: 9px; FONT-FAMILY: Sevenet 7, 04b_08, Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 0px
}
.menu_1_bianco_sp {
	FONT-SIZE: 8px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; TEXT-INDENT: 3px; LINE-HEIGHT: 9px; FONT-FAMILY: 04b_08, Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px
}
.menu_1_bianco_dg {
	FONT-SIZE: 8px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; TEXT-INDENT: 3px; LINE-HEIGHT: 9px; FONT-FAMILY: 04b_08, Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px
}


.menu_2_bianco_sab {
	FONT-SIZE: 8px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; TEXT-INDENT: 0px; FONT-FAMILY: 04b_03b, Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 0px
}

.menu_2_bianco {
	FONT-SIZE:8px;
	TEXT-TRANSFORM: uppercase;
	font-weight: plain;
	COLOR: #ffffff;
	TEXT-INDENT: 0px;
	FONT-FAMILY: kroeger 05_65, standard 07_55, Verdana, Arial, Helvetica, sans-serif;
	letter-spacing:0px
}
.menu_1_grigio_sab {
	FONT-SIZE: 8px; TEXT-TRANSFORM: uppercase; COLOR: #666666; TEXT-INDENT: 0px; LINE-HEIGHT: 9px; FONT-FAMILY: Sevenet 7, 04b_08, Verdana, Arial, Helvetica, sans-serif; 
}

.menu_1_grigio {
	FONT-SIZE: 8px;
	FONT-FAMILY:  Sevenet 7, 04b_08, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 10px;
	text-transform: uppercase;
   color: #000000;
	text-indent:0px;
}

.menu_1_grigio_large {
	FONT-SIZE: 10px;
	FONT-FAMILY:  Sevenet 7, 04b_08, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 10px;
	text-transform: uppercase;
   color: #666666;
	text-indent:0px;
}

.menu_pager_grigio {  
	FONT-SIZE: 8px; TEXT-TRANSFORM: uppercase; COLOR: #666666; TEXT-INDENT: 0px; LINE-HEIGHT: 9px; FONT-FAMILY: 04b_08, Verdana, Arial, Helvetica, sans-serif; 
}

.menu_grigio_popup {
	FONT-SIZE: 8px; TEXT-TRANSFORM: uppercase; COLOR: #666666; TEXT-INDENT: 0px; LINE-HEIGHT: 9px; FONT-FAMILY: 04b_08, Verdana, Arial, Helvetica, sans-serif; 
}


.menu_1_rosso {
	FONT-SIZE: 8px; TEXT-TRANSFORM: uppercase; COLOR: #23415f; TEXT-INDENT: 0px; FONT-FAMILY: 04b_08, Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px
}
.menu_2_rosso_sab {
	FONT-SIZE: 8px; TEXT-TRANSFORM: uppercase; COLOR: #23415f; TEXT-INDENT: 0px; FONT-FAMILY: Sevenet 7, 04b_03b, Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px
}

.menu_2_rosso {
	FONT-SIZE: 8px;
	FONT-FAMILY: Sevenet 7, Verdana, kroeger 05_65, standard 07_55, 04b_03b, Arial, Helvetica, sans-serif;
	font-weight: plain;
	text-transform: uppercase;
   color: #23415f;
	text-indent:0px;
}

.testo_red {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ff0000; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.testo_bianco {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testo_grigio {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}


.testo_grigio_large {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #000000; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}


.testo_grigio_light {
	FONT-WEIGHT: normal; letter-spacing: 10px; FONT-SIZE: 10px; COLOR: #9d9e9c; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.testo_grigio_bold {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #666666; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif ;   
}
.testo_grigio_bold2 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #ffffff; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif ;   
}
.testo_grigio_sp {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #666666; TEXT-INDENT: 3px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bg_grigio1_old {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 10px; VERTICAL-ALIGN: top; TEXT-TRANSFORM: capitalize; COLOR: #666666; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f2f2f2
}
.bg_grigio2_old {
	
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 10px; VERTICAL-ALIGN: top; TEXT-TRANSFORM: capitalize; COLOR: #666666; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #d9d9d9
}
.bg_grigio1 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 10px; VERTICAL-ALIGN: top; COLOR: #666666; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f2f2f2
}
.bg_grigio2 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 10px; VERTICAL-ALIGN: top; COLOR: #666666; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #d9d9d9
}


.bg_grigio3 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 8px; COLOR: #ffffff; TEXT-INDENT: 0px; LINE-HEIGHT: 9px; FONT-FAMILY: 04b_08, Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px; BACKGROUND-COLOR: #959595
}
.bg_grigio4 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 8px; COLOR: #ffffff; TEXT-INDENT: 0px; LINE-HEIGHT: 9px; FONT-FAMILY: 04b_08, Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px; BACKGROUND-COLOR: #4b4b4b
}
.bg_rosso1 {
	FONT-SIZE: 8px; COLOR: #ffffff; TEXT-INDENT: 0px; LINE-HEIGHT: 9px; FONT-FAMILY: 04b_08, Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px; BACKGROUND-COLOR: #c08682
}

.linktext {
	FONT-SIZE: 10px; COLOR: #23415f; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  
}

.link {
	FONT-SIZE: 8px; COLOR: #23415f; TEXT-INDENT: 4px; LINE-HEIGHT: 0px; FONT-FAMILY: 04b_08, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.pulsante {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666666; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.on:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.on:hover {
	COLOR: #23415f
}
A.on:visited {
	COLOR: #4b4b4b; TEXT-DECORATION: none
}
tr.bg_grigioA
{
	
	background-color: #f2f2f2;
	
		FONT-WEIGHT: normal; FONT-SIZE: 10px;
		 COLOR: #000000; TEXT-INDENT: 0px; 
		 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif

}

tr.bg_grigioN
{
	background-color: #d9d9d9;
			FONT-WEIGHT: normal; FONT-SIZE: 10px; 
			COLOR: #000000; TEXT-INDENT: 0px;
			 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif

	
}
tr.bg_grigioS
{
	background-color: #c08582;
			FONT-WEIGHT: normal; FONT-SIZE: 10px;
			 COLOR: #ffffff; TEXT-INDENT: 0px;
			  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif

	
}
tr.bg_grigioH
{
	background-color: #4b4b4b;
			FONT-SIZE:8px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; TEXT-INDENT: 3px; LINE-HEIGHT: 9px; FONT-FAMILY: 04b_08, Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px

	
}
tr.bg_grigioAP
{
	
	background-color: #f2f2f2;
	
		FONT-WEIGHT: normal; FONT-SIZE: 9px;
		 COLOR: #000000; TEXT-INDENT: 0px; 
		 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif

}

tr.bg_grigioNP
{
	background-color: #d9d9d9;
			FONT-WEIGHT: normal; FONT-SIZE: 9px; 
			COLOR: #000000; TEXT-INDENT: 0px;
			 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif

	
}
tr.bg_grigioSP
{
	background-color: #c08582;
			FONT-WEIGHT: normal; FONT-SIZE: 9px;
			 COLOR: #ffffff; TEXT-INDENT: 0px;
			  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif

	
}

A:link {color: #ffffff; text-decoration: none}
A:visited {color: #ffffff; text-decoration: none}
/* A:active {color: #23415f; text-decoration: none}*/
A:hover {color: #ffffff; text-decoration: none}
A.plain:hover { FONT-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION:none
}

/*menu cell*/
td.cellMenuOver{  border-color: #ffffff;  background-color: #c08682;
		
}
td.cellMenuOut{  border-color: #959595;  background-color: #959595;
		
}
/*menu testata*/
A.home:link {font-family:verdana,arial,helvetica,sans-serif; font-size:9px; font-weight:bold; text-decoration: none; color: #ffffff}
A.home:visited {font-family:verdana,arial,helvetica,sans-serif; font-size:9px; font-weight:bold; text-decoration: none; color: #ffffff}
A.home:hover {font-family:verdana,arial,helvetica,sans-serif;font-size:9px; color:White; font-weight:bold; text-decoration::none}

A.linkon:link {font-family:verdana,arial,helvetica,sans-serif; font-size:9px;  text-decoration: none; color: #666666}
A.linkon:visited {font-family:verdana,arial,helvetica,sans-serif; font-size:9px;  text-decoration: none; color: #666666}
A.linkon:hover {font-family:verdana,arial,helvetica,sans-serif;font-size:9px; color:White;  text-decoration::none}

A.linkNero:link {font-family:verdana,arial,helvetica,sans-serif; font-size:9px; font-weight:bold; text-decoration: none; color: #000000}
A.linkNero:visited {font-family:verdana,arial,helvetica,sans-serif; font-size:9px; font-weight:bold; text-decoration: none; color: #000000}
A.linkNero:hover {font-family:verdana,arial,helvetica,sans-serif;font-size:9px; color:Black; font-weight:bold; text-decoration::none}



/* label messaggi */
.testo_msg_grigio {
	FONT-SIZE: 16px; TEXT-TRANSFORM: uppercase; COLOR: #666666; TEXT-INDENT: 2px; FONT-FAMILY: 04b_24, Verdana, Arial, Helvetica, sans-serif
}


.testo_nero_sp {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
