<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true"/>
    <httpRuntime maxRequestLength="1024000" enable = "True"  executionTimeout="300"/>
  </system.web>
  <system.webServer>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose"/>
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose"/>
            <add provider="ISAPI Extension" verbosity="Verbose"/>
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose"/>
          </traceAreas>
          <failureDefinitions timeTaken="00:00:00" statusCodes="404,405,501,500"/>
        </add>
      </traceFailedRequests>
    </tracing>
    <handlers>
	  <remove name="WebDAVModule" />
      <add name="FileHandler" path="*" verb="PUT" type="FileHandler" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
    <security>
	  <authorization>
            <remove users="*" roles="" verbs="" />
            <add accessType="Allow" users="*" verbs="GET,HEAD,POST,DEBUG,PUT,DELETE" />
          </authorization>
            <requestFiltering>
			<requestLimits maxAllowedContentLength="3000000000" />
                <verbs>
                    <add verb="PUT" allowed="true" />
                    <add verb="DELETE" allowed="true" />
                </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>