<%@ ContentType="text/css" %>

.visualicon .item:nth-child(3n){margin-right:55px;}
.visualicon .item:nth-child(4n){margin-right:0px;float:left;}

#box_azioni .pop{
	float:left;background:#fff;
	margin:10px 0px 0px 10px;
	}
	#box_azioni UL
{float:right}	


#filter_ruolo{
	width: 60%;
	height:100%;
	float:left;
	text-align:left;
	padding:0px 0px 0px 0px;
}
#todolist_control{
	float:right;
	width:40%;
	text-align:right;
    margin:0px;
	position:relative;
	z-index:1;
}
.filter_ricerca UL{height:30px;border:0px;margin-left:20px;}
.filter_ricerca {width:35%;float:left;margin:0px;}
.scelta_ricerca{float:left;height:100%;width:25%;}


#smista_form .label_tabella P:nth-child(1){width:700px;}