<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FirmaRemotaEndpoint1Binding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="FirmaRemotaEndpoint2Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://ws-s.firmaremota.intra.infotn.it:15618/FirmaRemota/Soap11"
                binding="basicHttpBinding" bindingConfiguration="FirmaRemotaEndpoint1Binding"
                contract="FirmaRemotaPortType" name="FirmaRemotaEndpoint1" />
            <endpoint address="https://ws-s.firmaremota.intra.infotn.it:15618/FirmaRemota/Soap12"
                binding="customBinding" bindingConfiguration="FirmaRemotaEndpoint2Binding"
                contract="FirmaRemotaPortType" name="FirmaRemotaEndpoint2" />
        </client>
    </system.serviceModel>
</configuration>