<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <!--CONFIGURAZIONE DI LOG4NET-->
  <log4net>
    <appender name="FE" type="log4net.Appender.RollingFileAppender">
      <file value="C://VTDOCS_Sviluppo//Logs//Mobile_sviluppo.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="1000KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level [%property{UserId}] %logger %M - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
    </root>
    <logger name="VTDocs.mobile.fe">
      <appender-ref ref="FE"/>
    </logger>
  </log4net>
  <!--FINE CONFIGURAZIONE DI LOG4NET-->
  <appSettings>
     <!-- IdDevice Ipad  I  | Iphone P  | Galaxy: G -->
   <!-- <add key="IdDevice" value="G"/>-->
    <add key="ProfilazioneDinamicaFasc" value="1"/>
    <add key="EnableUfficioRef" value="0"/>
    <add key="Titolo" value="GFD 1.2"/>
    <add key="Normal.MaxNumRisultatiAutocomplete" value="10"/>
    <add key="Ipad.MaxNumRisultatiAutocomplete" value="15"/>
    <add key="Galaxy.MaxNumRisultatiAutocomplete" value="15"/>
    <add key="Normal.NumResultsForPage" value="5"/>
    <add key="Ipad.NumResultsForPage" value="15"/>
    <add key="Galaxy.NumResultsForPage" value="15"/>
    <add key="Ipad.MaxNumRisultatiAutocompleteURP" value="2"/>
    <add key="Galaxy.MaxNumRisultatiAutocompleteURP" value="2"/>
    <add key="RemoveTrasmInTDL" value="1"/>
    <add key="Normal.MaxStringLength" value="52"/>
    <add key="Ipad.MaxStringLength" value="90"/>
    <add key="Galaxy.MaxStringLength" value="100"/>
    <add key="Normal.LoginImagePath" value="/img/logo_inps.png"/>
    <add key="Ipad.LoginImagePath" value="/img/ipad/logo_inps.png"/>
    <add key="Galaxy.LoginImagePath" value="/img/logo_inps.png"/>
    <add key="Normal.IconImagePath" value="/img/icon_inps_iphone.png"/>
    <add key="Ipad.IconImagePath" value="/img/ipad/icon_inps_ipad.png"/>
    <add key="Galaxy.IconImagePath" value="/img/icon_inps_iphone.png"/>
    <add key="Skin" value="Blu"/>
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization>
          <converters>
            <add name="enumStringConverter" type="VTDocsMobile.VTDocs.mobile.fe.utils.EnumStringConverter"/>
          </converters>
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".css" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
      <controls>
        <add tagPrefix="vtdm" src="~/UserControls/MobileClient/MobileClient.ascx" tagName="MobileClient"/>
        <add tagPrefix="vtdm" src="~/UserControls/MobileClient/MobileClientIPad.ascx" tagName="MobileClientIPad"/>
		<add tagPrefix="vtdm" src="~/UserControls/MobileClient/MobileClientGalaxy.ascx" tagName="MobileClientGalaxy"/>
      </controls>
    </pages>
  </system.web>
<system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
         <handlers>
      <add name="Parse CSS Files" preCondition="integratedMode" verb="GET" path="*.css" type="System.Web.UI.PageHandlerFactory" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IVTDocsWSMobile" closeTimeout="00:5:00"
          openTimeout="00:05:00" receiveTimeout="00:5:00" sendTimeout="00:5:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="10000000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/VTDOCS_Sviluppo_WS/Mobile/VTDocsWSMobile.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IVTDocsWSMobile"
        contract="VTDocsWSMobile.IVTDocsWSMobile" name="WSHttpBinding_IVTDocsWSMobile">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>