<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="ConverterPdfDocsPa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
  </configSections>
      <applicationSettings>
          <ConverterPdfDocsPa.Properties.Settings>
              <setting name="LogFilePath" serializeAs="String">
                  <value>C:\CodaPdf</value>
              </setting>
              <setting name="intervalTimer" serializeAs="String">
                  <value>10000</value>
              </setting>
              <setting name="AdobeQueueFolder" serializeAs="String">
                  <value>C:\CodaPdf\Coda</value>
              </setting>
              <setting name="ConverterPdfDocsPa_DocsPa_DocsPaWebService" serializeAs="String">
                  <value>http://localhost/vt-docs/docspaws/docspaws.asmx</value>
              </setting>
              <setting name="AdobeOutputFolder" serializeAs="String">
                  <value>P:\Output</value>
              </setting>
              <setting name="AdobeInputFolder" serializeAs="String">
                  <value>P:\Input</value>
              </setting>
              <setting name="AdobeFailureFolder" serializeAs="String">
                  <value>P:\Error</value>
              </setting>
              <setting name="AdobeOutputFolderHtml" serializeAs="String">
                  <value>P:\Output</value>
              </setting>
              <setting name="AdobeInputFolderHtml" serializeAs="String">
                  <value>P:\Input</value>
              </setting>
              <setting name="AdobeFailureFolderHtml" serializeAs="String">
                  <value>P:\Error</value>
              </setting>
          </ConverterPdfDocsPa.Properties.Settings>
      </applicationSettings>
</configuration>