<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup><supportedRuntime version="v2.0.50727"/></startup>
  <system.serviceModel>
    <!--<bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IJobManagementService" messageEncoding="Mtom">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://vmvr-64bit.adlibsys.com/Adlib/JobManagementService/JobManagementService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJobManagementService" contract="JobManagementService.IJobManagementService" name="BasicHttpBinding_IJobManagementService"/>
    </client>-->
  </system.serviceModel>
</configuration>
