<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}/file.txt" layout="${log4jxmlevent}"/>
    
    -->
<!-- This target will be used by the scope buffered logger, bufferSize is huge because the entire potential scope should fit in the buffer -->
<!--
    <target name="scopebuffer" xsi:type="BufferingWrapper" bufferSize="10000">
      <target xsi:type="PostFilteringWrapper"
              defaultFilter="level >= LogLevel.Trace">
        <target xsi:type="File" fileName="${basedir}/scopefile.txt"/>
        <when exists="level >= LogLevel.Error" filter="level >= LogLevel.Trace"/>
      </target>
    </target>

  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file"/>
    <logger name="*_EBB" minlevel="Debug" writeTo="scopebuffer"/>
  </rules>
</nlog>-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="file" xsi:type="File" fileName="c:\Adlib\Log\GenericConnector.log"
				layout="${xmlwrapper:${level}:StartEntry=true}${xmlwrapper:${longdate}}${xmlwrapper:${logger}}${xmlwrapper:${message}}${xmlwrapper:${exception:format=message,type,tostring,method,stacktrace}:HasInnerXml=true}${xmlwrapper:${stacktrace:format=raw:separator=*:topframes=6}}${xmlwrapper:${threadname}}${xmlwrapper:${aspnet-user-identity}}${xmlwrapper:${windows-identity}}${xmlwrapper:${stacktracehash}}${xmlwrapper:${guid:format=D}:EndEntry=true}"
				archiveAboveSize="10485760" archiveFileName="c:\adlib\Log\Archives\{#####}.GenericConnector.log" maxArchiveFiles="50" concurrentwrites="true"
            />

	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="file"/>
	</rules>
</nlog>
