.dettaglio
{
	font-size: 9pt;
	color: #000000;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

a:link.dg_hierarchy_element
{
	font-family: Verdana;
	font-size: 7pt;
	color: Black;
	text-decoration: none;
}

a:visited.dg_hierarchy_element
{
	font-family: Verdana;
	font-size: 7pt;
	color: Black;
	text-decoration: none;
}

a:hover.dg_hierarchy_element
{
	font-family: Verdana;
	font-size: 7pt;
	color: #f0f0f0;
	text-decoration: underline;
}

.ddd
{
	font-size: 9pt;
	color: #000000;
	font-family: Verdana,Arial,Helvetica,sans-serif;	
}

.testo_grigio_scuro 
{
	font-weight:bold; font-size: 10px; color:#666666; font-family:Verdana	
}

.menu_1_bianco 
{
	font-size:xx-small;
	font-weight: bold;
	TEXT-TRANSFORM: uppercase; 
	COLOR: #ffffff; 
	font-family: Verdana;
}

.testo_grigio {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; TEXT-INDENT: 0px; font-family: Verdana;
}
