<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="DocsPaDocumentale_WSPIA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <applicationSettings>
        <DocsPaDocumentale_WSPIA.Properties.Settings>
            <setting name="DocsPaDocumentale_WSPIA_WsPia_Service1" serializeAs="String">
                <value>http://gedoc.inps/wspia/wspia.asmx</value>
            </setting>
        </DocsPaDocumentale_WSPIA.Properties.Settings>
    </applicationSettings>
</configuration>
