<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ArubaConnector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <add key="AUTOSIGN_USER" value="ArthurClarke"/>
    <add key="AUTOSIGN_USERPWD" value="iEQeF6scKdMa"/>
    <add key="AUTOSIGN_TYPE_OTP_AUTH" value="collaudo"/>
    <add key="AUTOSIGN_OTP_PWD" value="dspin"/>
    <add key="PDFSTAMPSERVICE_URL" value="https://pteasb.actalis.it:443/ArubaSignService/ArubaSignService"/>
    <add key="HSMSERVICE_URL" value="https://pteasb.actalis.it:443/ArubaSignService/ArubaSignService"/>
    <add key="AUTOSIGN_PROFILE" value="PADESBES"/>
    <!--
    <add key="AUTOSIGN_DELEGATED_DOMAIN" value="domain"/>
    <add key="AUTOSIGN_DELEGATED_USER" value="user"/>
    <add key="AUTOSIGN_DELEGATED_PASSWORD" value="password"/>
    <add key="AUTOSIGN_REASON" value="Reason"/>
    <add key="AUTOSIGN_LOCATION" value="Location"/>
    -->
  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\Temp\Log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%property{userId}] %-5level %logger %M - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <applicationSettings>
    <ArubaConnector.Properties.Settings>
      <setting name="ArubaConnector_ArubaSignServices_ArubaSignServiceService" serializeAs="String">
        <value>https://pteasb.actalis.it:443/ArubaSignService/ArubaSignService</value>
      </setting>
    </ArubaConnector.Properties.Settings>
  </applicationSettings>
</configuration>