<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FirmaDigitalePortTypeEndpoint1Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="FirmaDigitalePortTypeEndpoint3Binding" />
                <binding name="FirmaDigitalePortTypeEndpoint1Binding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="FirmaDigitalePortTypeEndpoint4Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="FirmaDigitalePortTypeEndpoint2Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://ws-s.firma.intra.infotn.it:15605/Resources/WebServices/FirmaDigitale.serviceagent/BasicSoap12"
                binding="customBinding" bindingConfiguration="FirmaDigitalePortTypeEndpoint4Binding"
                contract="FirmaDigitale.FirmaDigitalePortType" name="FirmaDigitalePortTypeEndpoint4" />
            <endpoint address="https://ws-s.firma.intra.infotn.it:15603/Resources/WebServices/FirmaDigitale.serviceagent/Soap11"
                binding="basicHttpBinding" bindingConfiguration="FirmaDigitalePortTypeEndpoint1Binding"
                contract="FirmaDigitale.FirmaDigitalePortType" name="FirmaDigitalePortTypeEndpoint1" />
            <endpoint address="http://ws-s.firma.intra.infotn.it:15605/Resources/WebServices/FirmaDigitale.serviceagent/BasicSoap11"
                binding="basicHttpBinding" bindingConfiguration="FirmaDigitalePortTypeEndpoint3Binding"
                contract="FirmaDigitale.FirmaDigitalePortType" name="FirmaDigitalePortTypeEndpoint3" />
            <endpoint address="https://ws-s.firma.intra.infotn.it:15603/Resources/WebServices/FirmaDigitale.serviceagent/Soap12"
                binding="customBinding" bindingConfiguration="FirmaDigitalePortTypeEndpoint2Binding"
                contract="FirmaDigitale.FirmaDigitalePortType" name="FirmaDigitalePortTypeEndpoint2" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
