USE [PCM_DEPOSITO_1]
GO
/****** Object:  StoredProcedure [DOCSADM].[sp_ARCHIVE_Select_TempProjectViewByDisposalID]    Script Date: 08/14/2013 11:50:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC   [DOCSADM].[sp_ARCHIVE_Select_TempProjectViewByDisposalID]  ( @Disposal_ID int  )
AS
BEGIN
SELECT 
distinct
PROJECT_ID,
DTA_CREAZIONE,
DTA_CHIUSURA,
REGISTRO, 
DESCRIPTION,
UO,
--TITOLARIO, 
--CLASSETITOLARIO, 
TIPOLOGIA, 
--ANNO_CHIUSURA,
DASCARTARE
  FROM
  (
  SELECT 
  P.SYSTEM_ID PROJECT_ID,
   R.VAR_CODICE REGISTRO,
   P.DTA_Creazione DTA_CREAZIONE,
   P.DTA_CHIUSURA DTA_CHIUSURA,
   G.VAR_DESC_CORR UO,
   P.DESCRIPTION DESCRIPTION
   , CASE TIT.CHA_STATO
    WHEN 'A' THEN 'Titolario attivo'
    WHEN 'C' THEN 'Titolario in vigore dal ' + CONVERT(VARCHAR(10), tit.DTA_ATTIVAZIONE, 103) + ' al ' + CONVERT(VARCHAR(10), tit.DTA_CESSAZIONE, 103)
    WHEN 'D' THEN 'Titolario in definizione'
    ELSE 'Stato titolario sconosciuto'
   END TITOLARIO
   , CT.VAR_CODICE CLASSETITOLARIO
   , TF.VAR_DESC_FASC TIPOLOGIA
   , YEAR(P.DTA_CHIUSURA) ANNO_CHIUSURA
   ,TP.DASCARTARE DASCARTARE
  FROM ARCHIVE_TEMPPROJECTDISPOSAL TP INNER JOIN PROJECT P ON TP.PROJECT_ID = P.SYSTEM_ID
  LEFT OUTER JOIN PROJECT CT ON P.ID_PARENT = CT.SYSTEM_ID
  LEFT OUTER JOIN PROJECT TIT ON P.ID_TITOLARIO = TIT.SYSTEM_ID
  LEFT OUTER JOIN DPA_TIPO_FASC TF ON P.ID_TIPO_FASC = TF.SYSTEM_ID
  LEFT OUTER JOIN DPA_EL_REGISTRI R ON P.ID_REGISTRO = R.SYSTEM_ID
   LEFT OUTER JOIN DPA_CORR_GLOBALI G ON P.ID_UO_CREATORE = G.SYSTEM_ID
  WHERE TP.DISPOSAL_ID = @Disposal_ID
  AND TP.DASCARTARE = 1)T1 order by PROJECT_ID desc

END
GO
