USE [PCM_DEPOSITO_FINGER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:		Giovanni Olivari
-- Create date: 22/05/2013
-- Description:	Restituisce lo stato dei Versamenti (Transfer)
-- ===========================================================
ALTER PROCEDURE [DOCSADM].[sp_ARCHIVE_BE_GetTransferStateByTransferList]
(	
	@transferList VARCHAR(1000)
)
AS
BEGIN

	DECLARE @sql_string nvarchar(MAX)
		
	SET @sql_string = CAST(N'
		WITH TRANSFER_WITH_MAX_DATETIME AS 
		(
		SELECT TS.TRANSFER_ID TRANSFER_ID, TS.TRANSFERSTATETYPE_ID, TS.DATETIME
		, RN = ROW_NUMBER() OVER (PARTITION BY TS.TRANSFER_ID ORDER BY TS.DATETIME DESC)
		FROM ARCHIVE_TRANSFERSTATE TS
		)
		SELECT 
			TD.TRANSFER_ID SYSTEM_ID_VERSAMENTO
			, T.DESCRIPTION DESCRIZIONE
			, TST.NAME STATO
			, TD.DATETIME DATAESECUZIONE
			, (SUM(ISNULL(T_NUM_DOCUMENTI_TRASFERITI.NUM_DOCUMENTI, 0)) + SUM(ISNULL(T_NUM_DOCUMENTI_COPIATI.NUM_DOCUMENTI, 0))) TOTALE_DOCUMENTI
			, SUM(ISNULL(T_NUM_DOCUMENTI_TRASFERITI.NUM_DOCUMENTI, 0)) NUM_DOCUMENTI_TRASFERITI
			, SUM(ISNULL(T_NUM_DOCUMENTI_COPIATI.NUM_DOCUMENTI, 0)) NUM_DOCUMENTI_COPIATI
		FROM TRANSFER_WITH_MAX_DATETIME TD 
		INNER JOIN ARCHIVE_TRANSFERSTATETYPE TST ON TD.TRANSFERSTATETYPE_ID = TST.SYSTEM_ID
		INNER JOIN ARCHIVE_TRANSFER T ON TD.TRANSFER_ID = T.SYSTEM_ID
		LEFT OUTER JOIN ARCHIVE_TRANSFERPOLICY TP ON T.SYSTEM_ID = TP.TRANSFER_ID
		LEFT OUTER JOIN 
				(
				SELECT P.TRANSFERPOLICY_ID, COUNT(*) NUM_DOCUMENTI
				FROM ARCHIVE_TEMPPROFILE P
				WHERE P.TIPOTRASFERIMENTO_VERSAMENTO = ''TRASFERIMENTO''
				GROUP BY P.TRANSFERPOLICY_ID
				) T_NUM_DOCUMENTI_TRASFERITI ON T_NUM_DOCUMENTI_TRASFERITI.TRANSFERPOLICY_ID = TP.SYSTEM_ID
				LEFT OUTER JOIN 
				(
				SELECT P.TRANSFERPOLICY_ID, COUNT(*) NUM_DOCUMENTI
				FROM ARCHIVE_TEMPPROFILE P
				WHERE P.TIPOTRASFERIMENTO_VERSAMENTO = ''COPIA''
				GROUP BY P.TRANSFERPOLICY_ID
				) T_NUM_DOCUMENTI_COPIATI ON T_NUM_DOCUMENTI_COPIATI.TRANSFERPOLICY_ID = TP.SYSTEM_ID
		WHERE TD.RN = 1
		AND TD.TRANSFER_ID IN (' AS NVARCHAR(MAX)) + CAST(@transferList AS NVARCHAR(MAX)) + CAST(')
		GROUP BY TD.TRANSFER_ID
			, T.DESCRIPTION
			, TST.NAME
			, TD.DATETIME;' AS NVARCHAR(MAX))
		
	EXECUTE sp_executesql @sql_string;

END
