USE [PCM_DEPOSITO_1]
GO
/****** Object:  StoredProcedure [DOCSADM].[sp_ARCHIVE_GetTransferPolicyStateByTransferID]    Script Date: 05/03/2013 15:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ========================================================================
-- Author:		Giovanni Olivari
-- Create date: 03/05/2013
-- Description:	Restituisce lo stato delle Policy presenti in un Versamento
-- ========================================================================
ALTER PROCEDURE [DOCSADM].[sp_ARCHIVE_BE_GetTransferPolicyStateByTransferID]
(	
	@transferID int
)
AS
BEGIN

	DECLARE @sql_string nvarchar(MAX)
		
	SET @sql_string = CAST(N'
		SELECT 
			TP.SYSTEM_ID ID_POLICY
			, TP.DESCRIPTION DESCRIZIONE
			, TP.ENABLED
			, S.NAME STATO
			, S.SYSTEM_ID ID_STATO 
			, ISNULL(T_NUM_FASCICOLI.NUM_FASCICOLI, 0) TOTALE_FASCICOLI
			, ISNULL(T_NUM_DOCUMENTI.NUM_DOCUMENTI, 0) TOTALE_DOCUMENTI
			, ISNULL(T_NUM_DOCUMENTI_TRASFERITI.NUM_DOCUMENTI, 0) NUM_DOCUMENTI_TRASFERITI
			, ISNULL(T_NUM_DOCUMENTI_COPIATI.NUM_DOCUMENTI, 0) NUM_DOCUMENTI_COPIATI
		FROM ARCHIVE_TRANSFERPOLICY TP INNER JOIN ARCHIVE_TRANSFERPOLICYSTATE S ON TP.TRANSFERPOLICYSTATE_ID = S.SYSTEM_ID
		LEFT OUTER JOIN 
		(
		SELECT P.TRANSFERPOLICY_ID, COUNT(*) NUM_FASCICOLI
		FROM ARCHIVE_TEMPPROJECT P
		WHERE P.DATRASFERIRE = 1
		GROUP BY P.TRANSFERPOLICY_ID
		) T_NUM_FASCICOLI ON T_NUM_FASCICOLI.TRANSFERPOLICY_ID = TP.SYSTEM_ID
		LEFT OUTER JOIN
		(
		SELECT P.TRANSFERPOLICY_ID, COUNT(*) NUM_DOCUMENTI
		FROM ARCHIVE_TEMPPROFILE P
		GROUP BY P.TRANSFERPOLICY_ID
		) T_NUM_DOCUMENTI ON T_NUM_DOCUMENTI.TRANSFERPOLICY_ID = TP.SYSTEM_ID
		LEFT OUTER JOIN 
		(
		SELECT P.TRANSFERPOLICY_ID, COUNT(*) NUM_DOCUMENTI
		FROM ARCHIVE_TEMPPROFILE P
		WHERE P.TIPOTRASFERIMENTO_POLICY = ''TRASFERIMENTO''
		GROUP BY P.TRANSFERPOLICY_ID
		) T_NUM_DOCUMENTI_TRASFERITI ON T_NUM_DOCUMENTI_TRASFERITI.TRANSFERPOLICY_ID = TP.SYSTEM_ID
		LEFT OUTER JOIN 
		(
		SELECT P.TRANSFERPOLICY_ID, COUNT(*) NUM_DOCUMENTI
		FROM ARCHIVE_TEMPPROFILE P
		WHERE P.TIPOTRASFERIMENTO_POLICY = ''COPIA''
		GROUP BY P.TRANSFERPOLICY_ID
		) T_NUM_DOCUMENTI_COPIATI ON T_NUM_DOCUMENTI_COPIATI.TRANSFERPOLICY_ID = TP.SYSTEM_ID
		WHERE TP.TRANSFER_ID = ' AS NVARCHAR(MAX)) + CAST(@transferID AS NVARCHAR(MAX)) + CAST('' AS NVARCHAR(MAX))
		
	EXECUTE sp_executesql @sql_string;

END
