<%@ ContentType="text/css" %>

.visualicon .item:nth-child(3n){margin-right:55px;}
.visualicon .item:nth-child(4n){margin-right:0px;float:left;}

#box_azioni .pop{
	float:left;background:#fff;
	margin:10px 0px 0px 10px;
	}
	#box_azioni UL
{float:right}	