CREATE TABLE DPA_HSMPARAMETERS
(
  ID_AMM INT NOT NULL,
  DOMINIO VARCHAR(250) NOT NULL,
  TSAURL VARCHAR(1000),
  TSAUSER VARCHAR(250),
  TSAPASSWORD VARCHAR(250),
  USERAPPLICATIVA VARCHAR(250) NOT NULL,
  PASSWORDAPPLICATIVA VARCHAR(250) NOT NULL,
  SERVERURL VARCHAR(1000) NOT NULL
);
