USE [PCM_DEPOSITO_1]
GO
/****** Object:  StoredProcedure [DOCSADM].[sp_ARCHIVE_Select_TempProjectViewByTransferID]    Script Date: 08/14/2013 11:50:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE   [DOCSADM].[sp_ARCHIVE_Select_TempProjectViewByTransferID]  ( @Transfer_ID int  )
AS
BEGIN

	SELECT DISTINCT [ARCHIVE_TEMPPROJECT].[REGISTRO], [ARCHIVE_TEMPPROJECT].[UO],	[ARCHIVE_TEMPPROJECT].[PROJECT_ID], [ARCHIVE_TEMPPROJECT].[PROJECTCODE],
	[PROJECT].[DESCRIPTION], [PROJECT].[DTA_CREAZIONE], [PROJECT].[DTA_CHIUSURA],[ARCHIVE_TEMPPROJECT].[TIPOLOGIA],
	[ARCHIVE_TEMPPROJECT].TIPOTRASFERIMENTO_VERSAMENTO
	FROM DOCSADM.ARCHIVE_TEMPPROJECT  LEFT OUTER JOIN DOCSADM.PROJECT ON [ARCHIVE_TEMPPROJECT].[PROJECT_ID]=[PROJECT].[SYSTEM_ID] 
	INNER JOIN ARCHIVE_TRANSFERPOLICY  ON ARCHIVE_TEMPPROJECT.TRANSFERPOLICY_ID = [ARCHIVE_TRANSFERPOLICY].SYSTEM_ID 
	WHERE  ([ARCHIVE_TRANSFERPOLICY].[TRANSFER_ID]=@Transfer_ID)AND ([ARCHIVE_TEMPPROJECT].DATRASFERIRE=1)

END
GO
