BODY 
	{		
	background-color: #ffffff; 
	scrollbar-face-color: #666666;
	scrollbar-shadow-color: #ffffff;
	scrollbar-highlight-color: #666666;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-darkshadow-color: #666666;
	scrollbar-track-color: #ffffff;
	scrollbar-arrow-color: #ffffff;	
	}
	
A:link {color: #666666;}
A:visited {color: #666666;}
A:active {color: #666666;}
A {text-decoration:none}

A.menu:link {color: #ffffff;}
A.menu:visited {color: #ffffff;}
A.menu:active {color: #ffffff;}


.label_percorso
{
	font-weight: bold; font-size: 9px; color:#810d06; font-family:Verdana; 
}

.titolo
{
	font-size: 12px; color:#810d06; font-family:Verdana; 
}

.titolo_piccolo
{
	font-size: 9px; color:#810d06; font-family:Verdana; 
}

.titolo_pnl
{
	font-size: 12px; color:#810d06; font-family:Verdana; background-color:#d1d1d1
}

menu.testo_bianco
{
	font-weight:bold; font-size: 10px; color:#ffffff; font-family:Verdana	
}

.testo_grigio_scuro 
{
	font-weight:bold; font-size: 10px; color:#666666; font-family:Verdana	
}

.testo_grigio_scuro_grande 
{
	font-weight:bold; font-size: 11px; color:#666666; font-family:Verdana	
}

.testo_versione
{
	font-size: 9px; color:#666666; font-family:Verdana	
}

.testo
{
	font-size: 10px; color:#666666; font-family:Verdana	
}

.testo_piccolo
{
	font-size: 10px; color:#666666; font-family:Verdana	
}

.testo_piccoloB
{
	font-weight:bold; font-size: 9px; color:#666666; font-family:Verdana		
}

.testo_bianco
{
	font-weight:bold; font-size: 10px; color:#ffffff; font-family:Verdana	
}

.testo_rosso
{
	font-weight:bold; font-size: 10px; color:Red; font-family:Verdana	
}

.testo_blu
{
	font-weight:bold; font-size: 10px; color:Navy; font-family:Verdana	
}

.testo_verde
{
	font-weight:bold; font-size: 10px; color:Green; font-family:Verdana
}

.testo_grande
{
	font-weight:bold; font-size: 12px; color:#4b4b4b; font-family:Verdana	
}

.testo_bordo
{
	font-weight:bold; font-size: 12px; color:#810d06; font-family:Verdana	
}

.testo_btn
{
	border: 1px solid #810d06;
    font-size: 10px;     color:Black;     font-family:Verdana;     background-color:#e0e0e0;
    margin-left: 0px;
}

.testo_btn_p_large
{
	border: 1px solid #810d06;
    font-size: 10px;     color:Black;     font-family:Verdana;     background-color:#e0e0e0;     width:110px;
}

.testo_btn_p
{
	border: 1px solid #810d06;
    font-size: 10px;     color:Black;     font-family:Verdana;     background-color:#e0e0e0;     width:100px;
}
    
 .testo_btn_p_m
{
	font-size: 10px; color:Black; font-family:Verdana; BORDER-RIGHT: #810d06 1px solid; BORDER-TOP: #810d06 1px solid; BORDER-LEFT: #810d06 1px solid; BORDER-BOTTOM: #810d06 1px solid; background-color:#e0e0e0; width:80px
}

.testo_btn_p_medio
{
	font-size: 10px; color:Black; font-family:Verdana; BORDER-RIGHT: #810d06 1px solid; BORDER-TOP: #810d06 1px solid; BORDER-LEFT: #810d06 1px solid; BORDER-BOTTOM: #810d06 1px solid; background-color:#e0e0e0; width:60px
}

.testo_btn_p_piccolo
{
	font-size: 10px; color:Black; font-family:Verdana; BORDER-RIGHT: #810d06 1px solid; BORDER-TOP: #810d06 1px solid; BORDER-LEFT: #810d06 1px solid; BORDER-BOTTOM: #810d06 1px solid; background-color:#e0e0e0; width:20px
}

.testo_btn_org
{
	font-size: 9px; color:Black; font-family:Verdana; BORDER-RIGHT: #810d06 1px solid; BORDER-TOP: #810d06 1px solid; BORDER-LEFT: #810d06 1px solid; BORDER-BOTTOM: #810d06 1px solid; background-color:#e0e0e0;
}

.contenitore
{
	BORDER-RIGHT: #810d06 1px solid; BORDER-TOP: #810d06 1px solid; BORDER-LEFT: #810d06 1px solid; BORDER-BOTTOM: #810d06 1px solid; BACKGROUND-COLOR: #eaeaea
}

TABLE.info
{
	border: 1px dotted #4b4b4b;
    BACKGROUND-COLOR: #f2f2f2;
    width: 523px;
}	

TABLE.contenitore2
{
	BORDER-RIGHT: #810d06 1px solid; BORDER-TOP: #810d06 1px solid; BORDER-LEFT: #810d06 1px solid; BORDER-BOTTOM: #810d06 1px solid; BACKGROUND-COLOR: #ffefd5
}

TD.pulsanti
{
	BORDER-RIGHT: #d4d4d4 1px dotted; BORDER-TOP: #d4d4d4 1px dotted; BORDER-LEFT: #d4d4d4 1px dotted; BORDER-BOTTOM: #d4d4d4 1px dotted; BACKGROUND-COLOR: AntiqueWhite
}


TD.styleDotted
{
	BORDER-RIGHT: #d4d4d4 1px dotted; BORDER-TOP: #d4d4d4 1px dotted; BORDER-LEFT: #d4d4d4 1px dotted; BORDER-BOTTOM: #d4d4d4 1px dotted; BACKGROUND-COLOR: #f2f2f2
}	
									
tr.bg_grigioS
{
	background-color: #C8A0A0;
			FONT-WEIGHT: normal; FONT-SIZE: 10px;
			 COLOR: #ffffff; TEXT-INDENT: 0px;
			  FONT-FAMILY: Verdana
}

tr.bg_grigioA
{
	background-color: #f2f2f2;
	FONT-WEIGHT: normal; FONT-SIZE: 10px;
	COLOR: #000000; TEXT-INDENT: 0px; 
	FONT-FAMILY: Verdana
}

tr.bg_grigioN
{
	background-color: #d9d9d9;
	FONT-WEIGHT: normal; FONT-SIZE: 10px; 
	COLOR: #000000; TEXT-INDENT: 0px;
	FONT-FAMILY: Verdana
}

.menu_1_bianco_dg {
	FONT-SIZE: 10px; font-weight:bold; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; TEXT-INDENT: 3px; LINE-HEIGHT: 9px; FONT-FAMILY: Verdana
}

.panel_interno_anteprima
{
	width:450; padding-top:10px; padding-bottom:10px; padding-left:10px; padding-right:10px; background-color:#f6f4f4;	
}

.comp_profilazione_anteprima
{
	font-size: 10px; color:Black; font-family:Verdana; margin-left:10px;
}

.comp_profilazione_anteprima_data
{
	font-size: 10px; color:Black; font-family:Verdana;
}

.resettaSelezioneEsclusiva
{
	margin-right : 10px;
}

.img_chiudi_pannello
{
	margin-top:2px;	
}

.lbl_modelli
{
    font-weight: bold;
    font-size:10px;
    text-align:center;
    vertical-align:top;
}

.modalBackground {
    background-color:Gray;   
    filter: alpha(opacity=50);
    opacity: 0.5;    
 }