<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="StampaRegistri.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<appSettings>
	<!-- posizione dei log -->
    <add key="Log_PathFolder" value=""/> 
	<add key="Log_FileName" value="StampaReg.log"/>
    <!-- livello di log: FlussoOperativo  = 1, Debug = 2 -->
	<add key="Log_LevelTrace" value="2"/>
	<!-- indica su quale dispositivo eseguire il log: EventViewer = 3, File = 2, Console = 1, Nessuno = 0 -->
    <add key="Log_Device" value="2"/>
	
<!-- posizione dello log STORICO-->
	<add key="HistoryLog_PathFolder" value=""/> 
	<add key="HistoryLog_FileNamePrefix" value="history"/>

<!--gestione processo -->
	<add key="Work_ForzaChiusuraReg" value="true"/><!--true/false-->
	<add key="Work_ApriRegDopoProcesso" value="true"/><!--true/false-->
	<add key="Work_ConfermaChiusuraDopoProcesso" value="false" /><!--true/false-->
	
<!-- interfacciamento a docspa -->
	<add key="Docspa_UserName" value=""/>
	<add key="Docspa_PWD" value=""/>
	<add key="Docspa_IDAmm" value=""/>
	<add key="Docspa_Ruolo_IDCorr" value=""/><!--se non valorizzato, viene preso il primo ruolo disponibile sul utente-->
	<add key="Docspa_LoginForzata" value="true"/><!--true/false-->
	<add key="Docspa_IDRegistro" value=""/><!--se non valorizzato, viene preso il primo disponibile sul ruolo scelto-->
	<add key="Docspa_TimeoutRichiesta_DocsPaWebService_InMinuti" value="180" />
	<add key="Docspa_Versione" value="305"/><!--valori ammessi:25,305 -->
    <add key="StampaRegistri.DocsPaWR25.DocsPaWebService" value=""/>
    <add key="StampaRegistri.DocsPaWR305.DocsPaWebService" value=""/>
    </appSettings>	
    <applicationSettings>
        <StampaRegistri.Properties.Settings>
            <setting name="StampaRegistri_DocsPaWR25_DocsPaWebService" serializeAs="String">
                <value></value>
            </setting>
            <setting name="StampaRegistri_DocsPaWR305_DocsPaWebService" serializeAs="String">
                <value>x</value>
            </setting>
        </StampaRegistri.Properties.Settings>
    </applicationSettings>
</configuration>