body
{
	background-color: #ffffff; 
	scrollbar-face-color: #666666;
	scrollbar-shadow-color: #ffffff;
	scrollbar-highlight-color: #666666;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-darkshadow-color: #666666;
	scrollbar-track-color: #ffffff;
	scrollbar-arrow-color: #ffffff;	
}

.img_chiudi_pannello
{
	margin-top:2px;	
}

.panel_interno_anteprima
{
	width:455; padding-top:10px; padding-bottom:10px; padding-left:10px; padding-right:10px; background-color:#fafafa;	
}

.comp_profilazione_anteprima
{
	font-size: 10px; color:Black; font-family:Verdana; margin-left:10px;
}

.comp_profilazione_anteprima_data
{
	font-size: 10px; color:Black; font-family:Verdana;
}

.titolo
{
	font-size: 12px; color:#810d06; font-family:Verdana; 
	BORDER-RIGHT: #810d06 1px solid; 
	BORDER-TOP: #810d06 1px solid; 
	BORDER-LEFT: #810d06 1px solid; 
	BORDER-BOTTOM: #810d06 1px solid;
}

.td_profDinamica{
	BORDER-RIGHT: #4885a4 1px solid; 
	BORDER-TOP: #4885a4 1px solid; 
	BORDER-LEFT: #4885a4 1px solid; 
	BORDER-BOTTOM: #4885a4 1px solid;
}

.pulsante {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666666; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.resettaSelezioneEsclusiva
{
	margin-right : 10px;
}
