<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <appSettings>
    <add key="DBType" value="ORACLE" />

    <add key="connectionString" value="User id=; Password=; Data Source=;" />

    <add key="QueryFilePath" value="xml/" />
    <add key="logAttivo" value="true" />
    <!-- 1 [ERROR] - 2 [ERROR + INFO] - 3 [ERROR + INFO + DEBBUG] - Se null o < 1 ma logAttivo true allora si assume come = 1-->
    <add key="logLevel" value="3" />
    <add key="logFilePath" value="" />
    <add key="pathDirectoryQueryXml" value="" />
    <add key="display_name_service" value="Engine LibroFirma center db" />
    <add key="description_service" value="engine generating LibroFirma" />
    <add key="name_service" value="SERVICE_LIBROFIRMA" />
    <add key="sleep_service" value="10000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!-- Specifica la tipologia di anagrafica evento da processare (Separare i valori relativi a DPA_ANAGRAFICA_EVENTI.CHA_TPO_EVENTO con il carattere | )-->
    <add key="SignificativeEvent" value="F|E" />
    <!-- Specifica la tipologia di anagrafica eventi da processare anche se eseguiti da utenti o ruoli diversi da quelli indicati nelle istanze di passo 
    (Separare i valori relativi a DPA_ANAGRAFICA_EVENTI.CHA_TPO_EVENTO con il carattere | ) -->
    <add key="EventWithoutActor" value="E" />

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILibroFirma" 
                 closeTimeout="00:18:00" 
                 openTimeout="00:01:00"
                 receiveTimeout="00:50:00" 
                 sendTimeout="00:50:00" 
                 maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
            <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IToken"  
                 closeTimeout="00:18:00" 
                 openTimeout="00:01:00"
                 receiveTimeout="00:50:00" 
                 sendTimeout="00:50:00" 
                 maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
            <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address=""
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILibroFirma"
        contract="LF_Services.ILibroFirma" name="BasicHttpBinding_ILibroFirma" />
      <endpoint address=""
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IToken"
        contract="TokenServices.IToken" name="BasicHttpBinding_IToken" />
    </client>
  </system.serviceModel>
</configuration>
