<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" requirePermission="false"/>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <add key="ORACLE_PACKAGE" value="SUBSCRIBER"/>
  </appSettings>
  <connectionStrings>
    <!-- 
    <add name="STORAGE"
   providerName="System.Data.OracleClient"
   connectionString="User id=Infotn_coll; Password=COLLSCHEMA2807; Data Source=PITRE;" />
-->
    <add name="STORAGE" providerName="System.Data.OracleClient" connectionString="User id=PAT_PRE; Password=PAT_PRE; Data Source=10.166.27.219:1521/vtdoc11g.vtlab.local;"/>
  </connectionStrings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Temp\Subscriber\Logs\log.txt"/>
      <appendToFile value="true"/>
      <maximumFileSize value="1000KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger %M - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
    </root>
    <logger name="Subscriber">
      <appender-ref ref="LogFileAppender"/>
    </logger>
  </log4net>
</configuration>