@import url(docspa.css);

.row {
	display: block;
	margin: 0 0 0.25em;
	padding: 0.2em;
	clear: both;
}

.pnlcx {
	width: 100%;
	padding: 1%;
	margin-top: 0;
    margin-left: auto;
    margin-bottom: 0;
    margin-right: auto;
	white-space: nowrap;
	display: block;
	text-align: center;
}

.pnlsx, .pnldx {
	width: 48%;
	display: block;
	float: left;
	margin: 0;
    padding-top: 1px;
    padding-bottom: 1px;
}

.pnlsx {
    text-align: right;
    margin-right: 5px;
}

.pnldx {
    text-align: left;
    margin-left: 5px;
}
