<?xml version="1.0"?>
<log4net>
  <appender name="BE" type="DocsPaUtils.LogsManagement.DateTimeRollingFileAppender, DocsPaUtils">
    <param name="ServerName" value="${COMPUTERNAME}" />
    <environmentHandler value="DocsPaWS.Log.DefaultEnvironmentHandler, DocsPaWS" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%property{userId}] %-5level %logger %M - %message%newline" />
    </layout>
    <filter type="DocsPaUtils.LogsManagement.EnableFilter, DocsPaUtils">
      <environmentHandler value="DocsPaWS.Log.DefaultEnvironmentHandler, DocsPaWS" />
    </filter>
  </appender>
  <appender name="LogBackend" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Sviluppo\Logs\logFile_be.log" />
    <!--<file value="\\ittsln\webcontent$\FarmPiTre\App_Logs\WcfRouting_Pitre\log.txt" /-->
    <appendToFile value="true" />
    <maximumFileSize value="100000KB" />
    <maxSizeRollBackups value="2" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger %M - %message%newline" />
    </layout>
  </appender>
  <appender name="LogOttimizzazione" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Sviluppo\Logs\Ottimizzazione\optimizationLog.txt" />
    <!--<file value="\\ittsln\webcontent$\FarmPiTre\App_Logs\WcfRouting_Pitre\log.txt" /-->
    <appendToFile value="true" />
    <maximumFileSize value="100000KB" />
    <maxSizeRollBackups value="2" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger %M - %message%newline" />
    </layout>
  </appender>
  <appender name="RollingFileAppenderV1" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Sviluppo\Logs\testminute\TestY.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd-HHmm" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="DEBUG" />
  </root>
  <logger name="DocsPaWS">
    <appender-ref ref="LogBackend" />
  </logger>
  <logger name="DocsPaDB">
    <appender-ref ref="LogBackend" />
  </logger>
  <logger name="BusinessLogic">
    <appender-ref ref="LogBackend" />
  </logger>
  <logger name="DocsPaDocumentale_ETDOCS">
    <appender-ref ref="LogBackend" />
  </logger>
  <logger name="DocsPaDocumentale_DOCUMENTUM">
    <appender-ref ref="LogBackend" />
  </logger>
  <logger name="DocsPaDocumentale_PITRE">
    <appender-ref ref="LogBackend" />
  </logger>
  <logger name="VtDocsWS">
    <appender-ref ref="LogBackend" />
  </logger>
  <logger name="DocsPaUtils">
    <appender-ref ref="LogBackend" />
  </logger>
  <logger name="DocsPaConservazione">
    <appender-ref ref="LogBackend" />
  </logger>
</log4net>