#box {
	VISIBILITY: hidden; POSITION: absolute; layer-background-color: #366e11
}
.titolo_rosso
{
	font-weight:bold; font-size:10px; text-transform:uppercase; COLOR: #366e11; TEXT-INDENT: 2px; font-family:Verdana;
}

.titolo_grigio {
	font-weight:bold; font-size:10px; text-transform:uppercase; COLOR: black; TEXT-INDENT: 2px; font-family:Verdana;
}

.titolo_bianco {
	font-weight:bold; font-size: 10px; text-transform: uppercase; color: White; text-indent: 2px; font-family:Verdana; 
}

.titolo_schede {
	FONT-SIZE: 16px; TEXT-TRANSFORM: uppercase; COLOR: #666666; TEXT-INDENT: 2px; FONT-FAMILY: 04b_24, Verdana, Arial, Helvetica, sans-serif
}

.titolo_real
{
	font-size: 12px; color:#366e11; font-family:Verdana; 
}

.sub_titolo_schede {
	FONT-SIZE: 8px; TEXT-TRANSFORM: uppercase; COLOR: #666666; TEXT-INDENT: 2px; FONT-FAMILY: 04b_24, Verdana, Arial, Helvetica, sans-serif
}

.menu_1_bianco {
	font-size:xx-small;
	font-weight: bold;
	TEXT-TRANSFORM: uppercase; 
	COLOR: #ffffff; 
	font-family: Verdana;
}

.menu_1_bianco_sab {
	FONT-SIZE: 8px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; TEXT-INDENT: 0px; LINE-HEIGHT: 9px; FONT-FAMILY: Sevenet 7, 04b_08, Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 0px
}

.menu_1_bianco_sp {
	FONT-SIZE: 8px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; TEXT-INDENT: 3px; LINE-HEIGHT: 9px; FONT-FAMILY: 04b_08, Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px
}

.menu_1_bianco_dg {
	FONT-SIZE: 10px; font-weight:bold; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; TEXT-INDENT: 3px; LINE-HEIGHT: 9px; FONT-FAMILY: Verdana
}

.menu_2_bianco_sab {
	FONT-SIZE: 8px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; TEXT-INDENT: 0px; FONT-FAMILY: 04b_03b, Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 0px
}

.menu_2_bianco {
	FONT-SIZE:8px;
	TEXT-TRANSFORM: uppercase;
	font-weight: plain;
	COLOR: #ffffff;
	TEXT-INDENT: 0px;
	FONT-FAMILY: kroeger 05_65, standard 07_55, Verdana, Arial, Helvetica, sans-serif;
	letter-spacing:0px
}

.menu_1_grigio_sab {
	FONT-SIZE: 8px; TEXT-TRANSFORM: uppercase; COLOR: #666666; TEXT-INDENT: 0px; LINE-HEIGHT: 9px; FONT-FAMILY: Sevenet 7, 04b_08, Verdana, Arial, Helvetica, sans-serif; 
}

.menu_1_grigio {
	FONT-SIZE: 8px;
	FONT-FAMILY:  Sevenet 7, 04b_08, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 10px;
	text-transform: uppercase;
	color: #000000;
	text-indent:0px;
}

.menu_1_grigio_large {
	FONT-SIZE: 10px;
	FONT-FAMILY:  Sevenet 7, 04b_08, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 10px;
	text-transform: uppercase;
	color: #666666;
	text-indent:0px;
}

.menu_pager_grigio {  
	FONT-SIZE: 9px; TEXT-TRANSFORM: uppercase; COLOR: #666666; TEXT-INDENT: 0px; LINE-HEIGHT: 9px; FONT-FAMILY: Verdana; 
}

.menu_grigio_popup {
	FONT-SIZE: 8px; TEXT-TRANSFORM: uppercase; COLOR: #666666; TEXT-INDENT: 0px; LINE-HEIGHT: 9px; FONT-FAMILY: 04b_08, Verdana, Arial, Helvetica, sans-serif; 
}

.menu_1_rosso {
	FONT-SIZE: 10px; font-weight:bold; TEXT-TRANSFORM: uppercase; COLOR: #366e11; TEXT-INDENT: 0px; FONT-FAMILY: Verdana
}

.menu_2_rosso_sab {
	FONT-SIZE: 8px; TEXT-TRANSFORM: uppercase; COLOR: #366e11; TEXT-INDENT: 0px; FONT-FAMILY: Sevenet 7, 04b_03b, Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px
}

.menu_2_rosso {
	FONT-SIZE: 8px;
	FONT-FAMILY: Sevenet 7, Verdana, kroeger 05_65, standard 07_55, 04b_03b, Arial, Helvetica, sans-serif;
	font-weight: plain;
	text-transform: uppercase;
	color: #366e11;
	text-indent:0px;
}

.testo_red {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ff0000; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.testo_segnatura {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.testo_bianco {
	FONT-SIZE: 10px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; TEXT-INDENT: 2px; FONT-FAMILY: Verdana; 
}

.testo_grigio {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; TEXT-INDENT: 0px; font-family: Verdana;
}

.testo_grigio_large {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #000000; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.testo_grigio_light {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #9d9e9c; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.testo_grigio_bold {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #666666; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif ;   
}

.testo_grigio_bold2 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #ffffff; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif ;   
}

.testo_grigio_sp {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #666666; TEXT-INDENT: 3px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.bg_grigio1_old {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 10px; VERTICAL-ALIGN: top; TEXT-TRANSFORM: capitalize; COLOR: #666666; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f2f2f2
}

.bg_grigio2_old {	
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 10px; VERTICAL-ALIGN: top; TEXT-TRANSFORM: capitalize; COLOR: #666666; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #d9d9d9
}

.bg_grigio1 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 10px; VERTICAL-ALIGN: top; COLOR: #666666; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f2f2f2
}

.bg_grigio2 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 10px; VERTICAL-ALIGN: top; COLOR: #666666; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #d9d9d9
}

.bg_grigio3 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 8px; COLOR: #ffffff; TEXT-INDENT: 0px; LINE-HEIGHT: 9px; FONT-FAMILY: 04b_08, Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px; BACKGROUND-COLOR: #959595
}

.bg_grigio4 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 8px; COLOR: #ffffff; TEXT-INDENT: 0px; LINE-HEIGHT: 9px; FONT-FAMILY: 04b_08, Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px; BACKGROUND-COLOR: #4b4b4b
}

.bg_rosso1 {
	FONT-SIZE: 8px; COLOR: #ffffff; TEXT-INDENT: 0px; LINE-HEIGHT: 9px; FONT-FAMILY: 04b_08, Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px; BACKGROUND-COLOR: #c08682
}

.linktext {
	FONT-SIZE: 10px; COLOR: #366e11; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  
}

.link {
	FONT-SIZE: 8px; COLOR: #366e11; TEXT-INDENT: 4px; LINE-HEIGHT: 0px; FONT-FAMILY: 04b_08, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.pulsante {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666666; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.pulsante_mini {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #666666; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.pulsante_mini_2 {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #366e11; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; background-image:url('../ImgComuni/bg_btn_generale.gif'); width:66px; height:16px; border:0px; margin:0px; padding:0px;
}

.pulsante_mini_2 input{
    border:0px;
}

.pulsante_mini_3 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #366e11; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; background-image:url('../ImgComuni/bg_btn_generale_2.gif'); width:73px; height:20px; border:0px; margin:0px; padding:0px;
}

.pulsante_mini_3 input{
    border:0px;
}

.pulsante_mini_4 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #366e11; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; background-image:url('../ImgComuni/bg_btn_generale_3.gif'); width:135px; height:20px; border:0px; margin:0px; padding:0px;
}

.pulsante_mini_4 input{
    border:0px;
}


A.on:link {
	COLOR: #666666; TEXT-DECORATION: none
}

A.on:hover {
	COLOR: #366e11
}

A.on:visited {
	COLOR: #4b4b4b; TEXT-DECORATION: none
}

tr.bg_grigioA
{	
	background-color: #f2f7f2;
	FONT-WEIGHT: normal; FONT-SIZE: 10px;
	COLOR: #000000; TEXT-INDENT: 0px; 
	FONT-FAMILY: Verdana
}

tr.bg_grigioN
{
	background-color: #ffffff;
	FONT-WEIGHT: normal; FONT-SIZE: 10px; 
	COLOR: #000000; TEXT-INDENT: 0px;
	FONT-FAMILY: Verdana
}

tr.bg_grigioS
{
	background-color: #4b4b4b;
	FONT-WEIGHT: normal; FONT-SIZE: 10px;
	COLOR: white; TEXT-INDENT: 0px;
	FONT-FAMILY: Verdana
}

tr.bg_grigioH
{
	background-color: #366e11;
	FONT-SIZE:9px; 
	TEXT-TRANSFORM: uppercase; 
	COLOR: #ffffff; 
	TEXT-INDENT: 3px; 
	LINE-HEIGHT: 9px; 
	FONT-FAMILY: Verdana; 
}

tr.bg_grigioAP
{
	background-color: #f2f2f2;	
	FONT-WEIGHT: normal; 
	FONT-SIZE: 9px;
	COLOR: #000000; 
	TEXT-INDENT: 0px; 
	FONT-FAMILY: Verdana
}

tr.bg_grigioNP
{
	background-color: #d9d9d9;
	FONT-WEIGHT: normal; 
	FONT-SIZE: 9px; 
	COLOR: #000000; 
	TEXT-INDENT: 0px;
	FONT-FAMILY: Verdana
}

tr.bg_grigioSP
{
	background-color: #4b4b4b;
	FONT-WEIGHT: normal; 
	FONT-SIZE: 9px;
	COLOR: #ffffff; 
	TEXT-INDENT: 0px;
	FONT-FAMILY: Verdana	
}

A:link {color: #ffffff; text-decoration: none}
A:visited {color: #ffffff; text-decoration: none}
/* A:active {color: #800000; text-decoration: none}*/
A:hover {color: #ffffff; text-decoration: none}
A.plain:hover { FONT-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION:none
}

/*menu cell*/
td.cellMenuOver{  border-color: #ffffff;  background-color: #c08682;
		
}
td.cellMenuOut{  border-color: #959595;  background-color: #959595;
		
}
/*menu testata*/
A.home:link {font-family:verdana,arial,helvetica,sans-serif; font-size:9px; font-weight:bold; text-decoration: none; color: #ffffff}
A.home:visited {font-family:verdana,arial,helvetica,sans-serif; font-size:9px; font-weight:bold; text-decoration: none; color: #ffffff}
A.home:hover {font-family:verdana,arial,helvetica,sans-serif;font-size:9px; color:White; font-weight:bold; text-decoration::none}

A.linkon:link {font-family:verdana,arial,helvetica,sans-serif; font-size:9px;  text-decoration: none; color: #666666}
A.linkon:visited {font-family:verdana,arial,helvetica,sans-serif; font-size:9px;  text-decoration: none; color: #666666}
A.linkon:hover {font-family:verdana,arial,helvetica,sans-serif;font-size:9px; color:Blue;  text-decoration::none}

A.linkNero:link {font-family:verdana,arial,helvetica,sans-serif; font-size:9px; font-weight:bold; text-decoration: none; color: #000000}
A.linkNero:visited {font-family:verdana,arial,helvetica,sans-serif; font-size:9px; font-weight:bold; text-decoration: none; color: #000000}
A.linkNero:hover {font-family:verdana,arial,helvetica,sans-serif;font-size:9px; color:Black; font-weight:bold; text-decoration::none}



/* label messaggi */
.testo_msg_grigio {
	FONT-SIZE: 10px; font-weight:bold; TEXT-TRANSFORM: uppercase; COLOR: #666666; TEXT-INDENT: 2px; FONT-FAMILY: Verdana
}

.testo_nero_sp {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

BODY 
	{		
	background-color: #ffffff; 
	scrollbar-face-color: #666666;
	scrollbar-shadow-color: #ffffff;
	scrollbar-highlight-color: #666666;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-darkshadow-color: #666666;
	scrollbar-track-color: #ffffff;	
	scrollbar-arrow-color: #ffffff;	
	}

.radiobutton
{
    border: #366e11 1px solid; background-color: #fafafa; font-size: 10px; color:#666666; font-family:Verdana	
}

.titolo_grigio_p
{
	FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-TRANSFORM: uppercase; COLOR: #4b4b4b; FONT-FAMILY: Verdana; TEXT-ALIGN:center
}

.titolo_grigio_small 
{
	font-weight:bold; font-size:8px; text-transform:uppercase; COLOR: black; TEXT-INDENT: 1px; font-family:Verdana;
}

.titolo
{
	font-size: 12px; color:#366e11; font-family:Verdana; 
	BORDER-RIGHT: #366e11 1px solid; 
	BORDER-TOP: #366e11 1px solid; 
	BORDER-LEFT: #366e11 1px solid; 
	BORDER-BOTTOM: #366e11 1px solid;
} 

.menu_1_rosso_minuscolo {
	FONT-SIZE: 10px; font-weight:bold; COLOR: #366e11; TEXT-INDENT: 0px; FONT-FAMILY: Verdana
}

.titolo_scheda
{
	font-size:xx-small;
	font-weight: bold;
	COLOR: #4b4b4b; 
	font-family: Verdana;
}

.titolo_scheda_red
{
	font-size:xx-small;
	font-weight: bold;
	COLOR: #ff0000; 
	font-family: Verdana;
} 

.testo_grigio_small {
	FONT-WEIGHT: bold; FONT-SIZE: 7px; COLOR: #4b4b4b; TEXT-INDENT: 0px; font-family: Verdana;
}

.testo10N {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana;
}
.testo_biancoN {
	FONT-SIZE: 10px; COLOR: #ffffff; TEXT-INDENT: 0px; FONT-FAMILY: Verdana;
}
.testo_biancoB 
{
	font-weight:bold; font-size: 10px; color:#ffffff; font-family:Verdana	
}

.testo_grigio9 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; TEXT-INDENT: 0px; font-family: Verdana;
}

.testo_grigio_scuro 
{
	font-weight:bold; font-size: 10px; color:#666666; font-family:Verdana	
}

.testo_grigio_scuro_middle
{
	font-weight:bold;  vertical-align:middle; font-size: 10px; color:#666666; font-family:Verdana	
}

.testo_grigio_scuro_grande 
{
	font-weight:bold; font-size: 11px; color:#666666; font-family:Verdana	
}

.testo_grigio_scuro_piccolo 
{
	font-weight:bold; font-size: 7px; color:#666666; font-family:Verdana	
}

.testo_msg_grigio_grande {
	FONT-SIZE: 16px; font-weight:bold; TEXT-TRANSFORM: uppercase; COLOR: #000000; TEXT-INDENT: 2px; FONT-FAMILY: Verdana
}

TABLE.info {
	BORDER-RIGHT: #366e11 1px solid; BORDER-TOP: #366e11 1px solid; BORDER-LEFT: #366e11 1px solid; BORDER-BOTTOM: #366e11 1px solid; BACKGROUND-COLOR: #fafafa
}

TABLE.modelli {
	BORDER-RIGHT: #366e11 1px solid; BORDER-TOP: #366e11 1px solid; BORDER-LEFT: #366e11 1px solid; BORDER-BOTTOM: #366e11 1px solid
}

TABLE.info_doc 
{
	width: 95%; border: 0px; 
}

TABLE.info_grigio {
	BORDER-RIGHT: #7d7d7d 1px solid; BORDER-TOP: #7d7d7d 1px solid; BORDER-LEFT: #7d7d7d 1px solid; BORDER-BOTTOM: #7d7d7d 1px solid; BACKGROUND-COLOR: #fafafa
}

TABLE.info_grigio1 {
	border: #d4d4d4 1px solid;  BACKGROUND-COLOR: #f1f1f1
}

TABLE.info_grigio2 {
	BORDER-RIGHT: #7d7d7d 1px solid; BORDER-TOP: #7d7d7d 1px solid; BORDER-LEFT: #7d7d7d 1px solid; BORDER-BOTTOM: #7d7d7d 1px solid; BACKGROUND-COLOR: #ffffff
}

TABLE.contenitore
{
	BORDER-RIGHT: #366e11 1px solid; BORDER-TOP: #366e11 1px solid; BORDER-LEFT: #366e11 1px solid; BORDER-BOTTOM: #366e11 1px solid; BACKGROUND-COLOR: #eaeaea
}

TABLE.contenitore_gray
{
	BORDER-RIGHT: Gray 1px solid; BORDER-TOP: Gray 1px solid; BORDER-LEFT: Gray 1px solid; BORDER-BOTTOM: Gray 1px solid; BACKGROUND-COLOR: #eaeaea
}

TABLE.contenitore_toolTip
{
	BORDER-RIGHT: Gray 1px solid; BORDER-TOP: Gray 1px solid; BORDER-LEFT: Gray 1px solid; BORDER-BOTTOM: Gray 1px solid; BACKGROUND-COLOR: #ffffee
}

TD.item_editbox {
	BORDER-RIGHT: #e2e2e2 1px solid; BORDER-TOP: #e2e2e2 1px solid; BORDER-LEFT: #e2e2e2 1px solid; BORDER-BOTTOM: #e2e2e2 1px solid; BACKGROUND-COLOR: #f4f4f4
}

TD.item_editbox2 
{
	BORDER-RIGHT: #e2e2e2 1px solid; BORDER-TOP: #ffffff  0px solid; BORDER-LEFT: #e2e2e2 1px solid; BORDER-BOTTOM: #e2e2e2 1px solid; BACKGROUND-COLOR: #ffffff
}

TD.tabDoc
{
	BORDER-RIGHT: #e2e2e2 1px solid; BORDER-TOP: #e2e2e2 1px solid; BORDER-LEFT: #e2e2e2 1px solid; BORDER-BOTTOM: #e2e2e2 1px solid; BACKGROUND-COLOR: #f4f4f4; font-weight:bold; font-size: 10px; color:#366e11; font-family:Verdana	
}

TD.infoDT
{
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; BORDER-LEFT: gray 1px solid; BORDER-BOTTOM: gray 1px solid; BACKGROUND-COLOR: #f2f2f2; font-weight:bold; font-size: 12px; color:#666666; font-family:Verdana	
}

TD.pulsanti
{
	BORDER-RIGHT: #d4d4d4 1px dotted; BORDER-TOP: #d4d4d4 1px dotted; BORDER-LEFT: #d4d4d4 1px dotted; BORDER-BOTTOM: #d4d4d4 1px dotted; BACKGROUND-COLOR: AntiqueWhite
}

TD.pulsanti2
{
	BORDER-RIGHT: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; background-color: #eaeaea;  
}

.testo {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN: 1px 15px; COLOR: #4b4b4b; FONT-FAMILY: Verdana; TEXT-ALIGN:center
}

.pulsante_hand {
	FONT-WEIGHT: bold; CURSOR: hand; FONT-SIZE: 10px; COLOR: #666666; TEXT-INDENT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

P.boxform_item {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN: 1px 15px; COLOR: #4b4b4b; FONT-FAMILY: Verdana; TEXT-ALIGN:center
}

.ImgHand
{
	cursor:hand;
}

.ImgDefault
{
	cursor:default;
}

.testo_btn_p
{
	font-size: 8px; color:Red; font-family:Verdana; BORDER-RIGHT: #366e11 1px solid; BORDER-TOP: #366e11 1px solid; BORDER-LEFT: #366e11 1px solid; BORDER-BOTTOM: #366e11 1px solid; background-color:#e0e0e0; width:100px;CURSOR: hand;
}

.regStatusText { font-weight: bold;}
.regStatusOpen,
.regStatusYellow,
.regStatusClosed {
	font-weight: bold;
	padding: 0.3em 1em;
	border: 1px solid #999999;
}
.regStatusOpen { color: #ffffff; background: #00DB00;}
.regStatusYellow { color: #0000B0; background: #FFFF00;}
.regStatusClosed { color: #ffffff; background: #FF0000;}

.sitoAccessibile,
a.sitoAccessibile, 
a.sitoAccessibile:link,
a.sitoAccessibile:visited{
	font-weight:bold; 
	font-size:11px; 	
	COLOR: #366e11; 
	font-family:Verdana;
}

.div_Visibilita
{
	overflow:auto;
	width: 100%;
}
	
TABLE.infoDotted
{
	BORDER-RIGHT: #4b4b4b 1px dotted; BORDER-TOP: #4b4b4b 1px dotted; BORDER-LEFT: #4b4b4b 1px dotted; BORDER-BOTTOM: #4b4b4b 1px dotted; BACKGROUND-COLOR: #f2f2f2
}	

.testo_grigio_combo {
 	FONT-SIZE: 10px; COLOR: #000000; TEXT-INDENT: 0px; font-family: Verdana;
}

.lbl_indiceAllegato 
{
	font-size:7px; color:Black; vertical-align:sub; font-family: Verdana; text-align:left;FONT-WEIGHT: bold;
}

.img_chiudi_pannello
{
	margin-top:2px;	
}

.panel_interno_anteprima
{
	width:455; padding-top:10px; padding-bottom:10px; padding-left:10px; padding-right:10px; background-color:#fafafa;	
}

.comp_profilazione_anteprima
{
	font-size: 10px; color:Black; font-family:Verdana; margin-left:10px;
}

.comp_profilazione_anteprima_data
{
	font-size: 10px; color:Black; font-family:Verdana;
}

.td_profDinamica{
	BORDER-RIGHT: #366e11 1px solid; 
	BORDER-TOP: #366e11 1px solid; 
	BORDER-LEFT: #366e11 1px solid; 
	BORDER-BOTTOM: #366e11 1px solid;
}

.resettaSelezioneEsclusiva
{
	margin-right : 10px;
}

.pulsante_documenti
{
	 src:"btn_documenti320.gif";
}

.pulsante_documenti_disabilitato
{
	 src:"btn_documenti320_A.gif";
}

.pulsante_ricerca
{
	 src:"btn_ricerca320.gif";
}

.pulsante_ricerca_disabilitato
{
	 src:"btn_ricerca320_A.gif";
}

.pulsante_aiuto
{
	 src:"btn_aiuto320.gif";
}

.pulsante_gestione
{
	 src:"btn_gestione320.gif";
}

.pulsante_gestione_disabilitato
{
	 src:"btn_gestione320_A.gif";
}

.pulsante_esci
{
	 src:"btn_esci.gif";
}

.pulsante59
{
    background-image:url(../ImgComuni/btnVuoto59.gif);
    background-repeat:no-repeat;
    background-position:center;
    background-color:White; 
    width:59px;
    height:22px;
    font-weight: bold;
    color:#366e11;
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    border:0px; 
}

.pulsante69
{
    background-image:url(../ImgComuni/btnVuoto69.gif);
    background-repeat:no-repeat;
    background-position:center;
    background-color:White; 
    width:69px;
    height:22px;
    font-weight: bold;
    color:#366e11;
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    border:0px;  
}

.pulsante79
{
    background-image:url(../ImgComuni/btnVuoto79.gif);
    background-repeat:no-repeat;
    background-position:center;
    background-color:White; 
    width:79px;
    height:22px;
    font-weight: bold;
    color:#366e11;
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    border:0px;
}

.pulsante92
{
    background-image:url(../ImgComuni/btnVuoto92.gif);
    background-repeat:no-repeat;
    background-position:center;
    background-color:White; 
    width:92px;
    height:22px;
    font-weight: bold;
    color:#366e11;
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    border:0px;  
}

.pulsante99
{
    background-image:url(../ImgComuni/btnVuoto99.gif);
    background-repeat:no-repeat;
    background-position:center;
    background-color:White; 
    width:99px;
    height:22px;
    font-weight: bold;
    color:#366e11;
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    border:0px;  
}

.pulsante127
{
    background-image:url(../ImgComuni/btnVuoto127.gif);
    background-repeat:no-repeat;
    background-position:center;
    background-color:White; 
    width:127px;
    height:22px;
    font-weight: bold;
    color:#366e11;
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    border:0px;  
}

.separatore_prof_dinamica
{
	font-size:xx-small;
	font-weight: bold;
	COLOR: #366e11; 
	font-family: Verdana;
}