<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DocsPAWA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="POLICY_AGENT_ENABLED" value="false"/>
    <add key="CHIAVE_TOKEN" value="valueteam$iam$gfd"/>
    <add key="GEST_FASC_CONTROLLATO" value="1"/>
    <add key="time_sleep" value="0"/>
    <add key="LENGTH_CAMPI_PROFILATI" value="2000"/>
    <add key="MANUALE" value="GFD"/>
    <add key="SMISTA_ABILITA_TRASM_RAPIDA" value="1"/>
    <add key="SHOW_DOCUMENT_AS_PDF_FORMAT" value="true"/>
    <add key="USE_PROJECT_TO_FS" value="true"/>
    <add key="INOLTRA_DOC" value="1"/>
    <add key="FULLSCREEN" value="true"/>
    <add key="COPYRIGHT" value=" INPS"/>
    <add key="DOCUMENT_AUTOPREVIEW" value="true"/>
    <add key="DOCUMENT_PDF_CONVERT" value="false"/>
    <add key="DOCUMENT_PDF_CONVERT_ENABLED" value="true"/>
    <add key="SEPARATORE_COD_FASCICOLO" value="."/>
    <add key="STATO.REG.APERTO" value="A"/>
    <add key="STATO.REG.CHIUSO" value="C"/>
    <add key="executionTimeout" value="3600000"/>
    <add key="exitPage" value="exit.htm"/>
    <add key="LOG_LEVEL" value="2"/>
    <add key="LOG_PATH" value="c:\GFD\logs\FrontEnd\%DATA\"/>
    <add key="CERCA_DUPLICATI_PROTOCOLLO" value="1"/>
    <add key="LABEL_ADL" value="AREA LAVORO"/>
    <add key="DISPOSITIVO_STAMPA" value="Etichette"/>
    <add key="URL_INIFILE_DISPOSITIVO_STAMPA" value="http://gedoc.inps/servizi/GFD/activex/INI/Etichette/DOCSPA.TXT"/>
    <add key="StampaDescrizioneAmministrazioneInEtichetta" value="1"/>
    <add key="StampaClassificazioneInEtichetta" value="0"/>
    <add key="StampaFascicoloInEtichetta" value="1"/>
    <add key="VISUALIZZA_UO_ROOT" value="0"/>
    <add key="FULL_TEXT_SEARCH" value="0"/>
    <add key="AUTO_TO_DO_LIST" value="1"/>
    <add key="ADMINISTERED_LOGIN_MODE" value="false"/>
    <add key="VISUALIZZA_ALERT_PROTOCOLLO_CREATO" value="0"/>
    <add key="VISUALIZZA_ALERT_PROFILO_CREATO" value="0"/>
    <add key="MITTENTE_DEFAULT" value="1"/>
    <add key="COD_FASC_FREE" value="0"/>
    <add key="DBType" value="sql"/>
    <add key="DISABLE_LOGOUT_CLOSE_BUTTON" value="false"/>
    <add key="VISUALIZZA_NOTE_PROTOCOLLO" value="1"/>
    <add key="VIEW_MITT_INTERMEDI" value="0"/>
    <add key="VIEW_CODICE_IN_COMBO_CLASSIFICA" value="1"/>
    <add key="ENABLE_UFFICIO_REF" value="0"/>
    <add key="ProfilazioneDinamica" value="1"/>
    <add key="T_DO_SMISTA" value="1"/>
    <add key="ADOBE_ACROBAT_INTEGRATION" value="true"/>
    <add key="PROTOINGRESSO_ACQ_DOC_OBBLIGATORIA" value="false"/>
    <add key="RUBRICA_V2" value="1"/>
    <add key="RUBRICA_PROTO_USA_SMISTAMENTO" value="0"/>
    <add key="VISUALIZZA_SPEDISCI_VIA_FAX" value="0"/>
    <add key="STAMPA_BUSTE" value="1"/>
    <add key="LISTE_DISTRIBUZIONE" value="1"/>
    <add key="PROTOINGRESSO_STAMPA_ETICHETTA_AUTO" value="true"/>
    <add key="ENABLE_LABEL_PDF" value="true"/>
    <add key="DiagrammiStato" value="1"/>
    <add key="MODELLO_DOCUMENTO" value="2"/>
    <add key="ALLOW_FASC_MULTI_REG" value="0"/>
    <add key="PDF_CONVERT_INLINE_ACTIVE" value="false"/>
    <add key="ABILITAZIONE_FLAG_RUBRICA" value="Y|Y|Y|Y"/>
    <add key="LABEL_DTA_LOC_FISICA" value=" "/>
    <add key="TIPO_ATTO_REQUIRED" value="0"/>
    <add key="ENABLE_CONVERT_PDF_ON_SIGN" value="true"/>
    <add key="ADOBE_ACROBAT_INTEGRATION_CLASS_ID" value="AcrobatInterop.AcrobatServices"/>
    <add key="FULL_TEXT_MIN_TEXT_LENGTH" value="2"/>
    <add key="UT_TX_RUOLO_CHECKED" value="false"/>
    <add key="PROTO_SEMPLIFICATO_ENABLED" value="true"/>
    <add key="SCAN_WITH_ADOBE_ACROBAT_INTEGRATION" value="False"/>
    <add key="AMM_SPOSTA_NODI_TITOLARIO" value="False"/>
    <add key="ProfilazioneDinamicaFasc" value="1"/>
    <add key="MessageFilePath" value="xml/messaggi.xml"/>
    <add key="ADOBE_ACROBAT_INTEGRATION_ENABLE_RECOGNIZE_TEXT" value="false"/>
    <add key="USE_SECURE_ACTIVEX" value="true"/>
    <add key="Label_Personale" value="Personale"/>
    <add key="FASC_RAPIDA_REQUIRED" value="false"/>
    <add key="NUOVA_ADL" value="1"/>
    <add key="GRD_TODOLIST_PAGE_SIZE" value="8"/>
    <add key="GRD_FASCICOLI_PAGE_SIZE" value="10"/>
    <add key="GV_EXPORT_ENABLE" value="1"/>
    <add key="USE_SPELL_ACTIVEX" value="false"/>
    <add key="USE_CODICE_OGGETTO" value="true"/>
    <add key="TITLE" value="3.12"/>
    <add key="VISUALIZZA_RICERCHE_GRIGI" value="0"/>
    <add key="IMPORT_OGGETTARIO" value="1"/>
    <add key="MEZZO_SPEDIZIONE" value="1"/>
    <add key="GESTIONE_GRAFICA" value="1"/>
    <add key="SMISTA_NAVIGA_UO" value="1"/>
    <add key="VIS_UNIFICATA" value="1"/>
    <add key="GRD_VIS_UNIFICATA" value="1"/>
    <add key="CERCA_DUPLICATI_PROTOCOLLO_2" value="0"/>
    <add key="VISUAL_TIPOLOGIA_DOC_PROT_SEMPL" value="1"/>
    <add key="VISUAL_NOTE_PROT_SEMPL" value="1"/>
    <add key="GEST_RAG_TRASM_CESSIONE" value="1"/>
    <add key="RIPROPONI_AVANZATO_ENABLED" value="true"/>
    <add key="IMPORT_MASSIVO" value="1"/>
    <add key="TITOLARIO_RUOLO_ORG" value="1"/>
    <add key="CERCA_SOTTOFASCICOLI" value="1"/>
    <add key="ORDINAMENTO_ORGANIGRAMMA" value="1"/>
    <add key="SEPARATORI DOMINIO" value="\;@;."/>
    <add key="ENABLE_SCROLL_ELEMENTS_LIST" value="1"/>
    <add key="USE_CLIENT_MODEL_PROCESSOR_ACTIVEX" value="true"/>
    <add key="SET_DATA_VISTA_GRD" value="1"/>
    <add key="NON_VISUALIZZA_FRECCIA_RISPOSTA" value="1"/>
    <add key="ENABLE_PROT_RAPIDA_NO_UO" value="true"/>
    <add key="MTextModelProvider" value="http://10.166.20.239:8080/mtextIntegrationAdapterWS/IntegrationAdapter?wsdl"/>
    <add key="M_TEXT_DOC_ROOT_PATH" value="\TEST\Test"/>
    <add key="MAX_PRJ_CAN_IMPORT" value="100"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <identity impersonate="false"/>
    <httpModules>
      <add name="SessionTimeout" type="DocsPAWA.gestione.sessione.SessionTimeout,DocsPaWA"/>
    </httpModules>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <globalization culture="it-IT" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <applicationSettings>
    <DocsPAWA.Properties.Settings>
      <setting name="DocsPaWA_Caching_CachingServices" serializeAs="String">
        <value>http://localhost/CachingWS/CachingServices.asmx</value>
      </setting>
      <setting name="DocsPaWA_DocsPaWR_DocsPaWebService" serializeAs="String">
        <value>http://localhost/Vt-Docs/DocsPaWS/DocsPaWS.asmx</value>
      </setting>
    </DocsPAWA.Properties.Settings>
  </applicationSettings>
</configuration>