<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NttDataWA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Chiavi Nuove -->
    <add key="LANGUAGES_PATH" value="C:\Publish\PiTre\FE\Languages\%DATA"/>
    <!-- Chiavi Nuove -->
		<add key="MULTI_LANGUAGES" value="false" />
		<add key="LANGUAGES" value="Italian" />
		<add key="LANGUAGES_LABEL" value="Italiano" />
		<!--<add key="LANGUAGES" value="English"/>
    <add key="LANGUAGES_LABEL" value="English"/>-->
    <add key="GV_EXPORT_ENABLE" value="1" />
		<add key="LANGUAGES_DIRECTION" value="Left" />
		<add key="AUTO_FORCE_LOGIN" value="true" />
		<add key="DOCUMENT_PDF_CONVERT" value="true" />
		<add key="DOCUMENT_PDF_CONVERT_ENABLED" value="true" />
		<add key="INOLTRA_DOC" value="1" />
		<add key="ADOBE_ACROBAT_INTEGRATION" value="true" />
		<add key="SCAN_WITH_ADOBE_ACROBAT_INTEGRATION" value="false" />
		<add key="SPEDIZIONE_SELEZIONA_RF_PREDEFINITO" value="true" />
		<add key="ProfilazioneDinamica" value="1" />
		<add key="ProfilazioneDinamicaFasc" value="1" />
		<add key="LISTE_DISTRIBUZIONE" value="1" />
		<add key="ENABLE_CONVERT_PDF_ON_SIGN" value="true" />
		<add key="MITTENTE_DEFAULT" value="1" />
		<add key="LITEDOCUMENT" value="false" />
		<add key="USE_CLIENT_MODEL_PROCESSOR_ACTIVEX" value="true" />
		<add key="URL_INIFILE_DISPOSITIVO_STAMPA" value="http://localhost/NttDataWA/activex/DYMO/ET_DYMO.LWL" />
		<add key="StampaDescrizioneAmministrazioneInEtichetta" value="1" />
		<add key="StampaClassificazioneInEtichetta" value="1" />
		<add key="StampaFascicoloInEtichetta" value="1" />
		<add key="MODELLO_DOCUMENTO" value="2" />
		<add key="MEZZO_SPEDIZIONE" value="1" />
		<add key="SET_DATA_VISTA_GRD" value="2" />
		<add key="DiagrammiStato" value="1" />
		<add key="FILE_ACQ_SIZE_MAX" value="1135000" />
		<add key="STATO_REG_APERTO" value="A" />
		<add key="STATO_REG_CHIUSO" value="C" />
		<add key="NO_BROWSER_CONTROL" value="1" />

		<add key="FATTURAPA_XSL_URL" value="http://localhost/NttDataWA/NttDataWA/ImportDati/fatturapa_v1.2.xsl" />
    <add key="NAMESPACE_FATTURAPA" value="http://ivaservizi.agenziaentrate.gov.it/docs/xsd/fatture/v1.2" />
		<add key="SMISTA_NAVIGA_UO" value="1" />
		<add key="USE_CODICE_OGGETTO" value="true" />

  </appSettings>


  <system.web>
    <httpRuntime maxRequestLength="1048576" />
    <compilation debug="true" targetFramework="4.0">
      <expressionBuilders>
        <add expressionPrefix="localizeByText" type="LocalizationExpressionBuilder" />
      </expressionBuilders>
    </compilation>
    <authentication mode="Windows"/>
    <globalization culture="it-IT" requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>



  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>

    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <applicationSettings>
    <NttDataWA.Properties.Settings>
      <setting name="NttDataWA_DocsPaWR_DocsPaWebService" serializeAs="String">
        <value>http://localhost/PITRE/BE/DocsPaWS.asmx</value>
      </setting>
    </NttDataWA.Properties.Settings>
  </applicationSettings>
</configuration>
