<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>

    <add key="PKCS7InputDirectory" value="C:\Tipi\in"/>
    <add key="PKCS7OutputDirectory" value="C:\Tipi\out"/>
    <add key="RetrieveCRLTimeout" value="20"/>
    <add key="CRLOnlineCheck" value="false"/>
    <add key="CLRVerificationModule" value="c:\tipi\SignatureVerifySimulator.dll"/>
    <add key="CLRVerificationModuleArgument" value="https://ws-s.firma.intra.infotn.it:15603/Resources/WebServices/FirmaDigitale.serviceagent/Soap12"/>
    <add key="MAIL_PROVIDER" value="C"/>
    <add key="DTD_SEGNATURA_PATH" value="../../../../../DocsPaWS/xml/segnatura.dtd"/>
    <add key="connectionString" value="User id=SVILUPPO_PITRE; Password=sviluppo_pitre; Data Source=10.166.27.219:1521/vtdoc11g.vtlab.local;"/>
    <!--<add key="connectionString" value="User id=PAT_PRE; Password=PAT_PRE; Data Source=10.166.27.219:1521/vtdoc11g.vtlab.local;" />-->
    <add key="oracleSequenceName" value="SEQ"/>
    <add key="documentale" value="ETNOTEAM"/>
    <add key="DBType" value="ORACLE"/>
    <add key="QueryFilePath" value="../../../../../DocsPaWS/xml/"/>
    <add key="DOCNUMBER" value="C"/>
    <add key="URL_TSA" value="http://timestamping.edelweb.fr/service/tsp"/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
