<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FirmaDigitalePortTypeEndpoint1Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="FirmaDigitalePortTypeEndpoint3Binding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="FirmaDigitalePortTypeEndpoint2Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="FirmaDigitalePortTypeEndpoint4Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://ws-s.firma.intra.infotn.it:15603/VerificaFirmeDigitali/Soap11"
                binding="basicHttpBinding" bindingConfiguration="FirmaDigitalePortTypeEndpoint1Binding"
                contract="FirmaDigitalePortType" name="FirmaDigitalePortTypeEndpoint1" />
            <endpoint address="http://ws-s.firma.intra.infotn.it:15606/VerificaFirmeDigitali/BasicSoap11"
                binding="basicHttpBinding" bindingConfiguration="FirmaDigitalePortTypeEndpoint3Binding"
                contract="FirmaDigitalePortType" name="FirmaDigitalePortTypeEndpoint3" />
            <endpoint address="https://ws-s.firma.intra.infotn.it:15603/VerificaFirmeDigitali/Soap12"
                binding="customBinding" bindingConfiguration="FirmaDigitalePortTypeEndpoint2Binding"
                contract="FirmaDigitalePortType" name="FirmaDigitalePortTypeEndpoint2" />
            <endpoint address="http://ws-s.firma.intra.infotn.it:15606/VerificaFirmeDigitali/BasicSoap12"
                binding="customBinding" bindingConfiguration="FirmaDigitalePortTypeEndpoint4Binding"
                contract="FirmaDigitalePortType" name="FirmaDigitalePortTypeEndpoint4" />
        </client>
    </system.serviceModel>
</configuration>