<behaviors>
  <endpointBehaviors>
    <behavior name="singleFileEndpointBehavior">
      <wsdlExtensions singleFile="True" />
    </behavior>
  </endpointBehaviors>

  <!-- Mobile -->
  <serviceBehaviors>
    <behavior name="DocsPaWS.Mobile.VTDocsWSMobileBehavior">
      <serviceMetadata httpGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="true" />
      <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="100"
        maxConcurrentInstances="100" />
    </behavior>
    
    <behavior name="DocsPaWS.VtDocsWS.WebServices.EmailBehavior">
      <serviceMetadata httpGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>

    
    <behavior name="VtDocsWS.WebServices.PisBehavior">
      <serviceMetadata
    httpGetEnabled="true"
    httpsGetEnabled="true"
		  />
      <serviceDebug includeExceptionDetailInFaults="true" />
      <serviceTimeouts transactionTimeout="00:50:00" />
      <dataContractSerializer maxItemsInObjectGraph="2147483647" />
      <useRequestHeadersForMetadataAddress>
        <defaultPorts>
          <add port="80" scheme="http"/>
          <add port="443" scheme="https"/>
        </defaultPorts>
      </useRequestHeadersForMetadataAddress>
      
      <!--Inizio Certificati per sicurezza via message-->
      <serviceCredentials >
        <clientCertificate>
          <!--Lista Certificati del client-->
          <certificate findValue="Pi3RouterTest"
         x509FindType="FindBySubjectName"
         storeLocation="LocalMachine"
         storeName="My" />
          <authentication certificateValidationMode="PeerTrust" revocationMode="NoCheck" />
        </clientCertificate >
        <!--Certificato Server-->
        <serviceCertificate
          findValue="Pi3IntegrationIstanceTest"
          x509FindType="FindBySubjectName"
          storeLocation="LocalMachine"
          storeName="My">
        </serviceCertificate>
      </serviceCredentials>
      <!--Fine Certificati per sicurezza via message-->
    </behavior>
        
    <behavior name="P3SBCLib.P3SBCServicesBehavior">
      <serviceMetadata httpGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
    <behavior name="DocsPaWS.InteroperabilityServiceBehavior">
      <serviceMetadata httpGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
    <behavior name="DocsPaWS.FileServiceBehavior">
      <serviceMetadata httpGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
  </serviceBehaviors>
  
</behaviors>