<bindings>
  
  <wsHttpBinding>
    <binding name="MTomBinding" maxReceivedMessageSize="65536000" messageEncoding="Mtom">
      <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
      <security mode="None" />
    </binding>
    <binding name="TextBinding" maxReceivedMessageSize="65536010">
      <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
      <security mode="None" />
    </binding>
    <binding name="WSHttpBinding_INotificationServiceOperations"
			closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
			sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false"
			hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
			maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8"
			useDefaultWebProxy="true" allowCookies="false">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <reliableSession ordered="true" inactivityTimeout="00:10:00"
				enabled="false" />
      <security mode="Message">
        <transport clientCredentialType="Windows" proxyCredentialType="None"
					realm="" />
        <message clientCredentialType="Windows" negotiateServiceCredential="true"
					algorithmSuite="Default" />
      </security>
    </binding>
    
    <binding name="SimpInteropBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
			sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false"
			hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
			maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8"
			useDefaultWebProxy="true" allowCookies="false" >
      <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
           maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
      <security mode="None"></security>
    </binding>
  </wsHttpBinding>
  <basicHttpBinding>
    <binding name="SimpInteropBinding" transferMode="Streamed" maxReceivedMessageSize="2147483648" maxBufferSize="64000" >
      <security mode="None" />
    </binding>
    <binding name="default" maxReceivedMessageSize="2147483647">
      <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647"
         maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
    </binding>
    
    <!-- Binding per HTTPS Solo Trasporto -->
    <binding name="onHttps" maxReceivedMessageSize="2147483647">
      <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647"
         maxBytesPerRead="4096" maxNameTableCharCount="16384"/>

      <security mode="Transport"  >
        <transport clientCredentialType ="None"/>
      </security >
    </binding>
    
    <!-- Binding per HTTPS Solo Trasporto -->
    <binding name="onMessage" maxReceivedMessageSize="2147483647">
      <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647"
         maxBytesPerRead="4096" maxNameTableCharCount="16384"/>

      <security mode="Message"  >
        <message clientCredentialType="Certificate"/>
      </security >
    </binding>
    
    <!-- Binding per HTTPS E WSS sul messaggio-->
    <binding name="onHttpsAndMessage" maxReceivedMessageSize="2147483647">
      <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647"
         maxBytesPerRead="4096" maxNameTableCharCount="16384"/>

      <security mode="TransportWithMessageCredential"  >
        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
        <message clientCredentialType="Certificate"/>
      </security >
    </binding>

  </basicHttpBinding>
  
</bindings>
