<services>
  <service behaviorConfiguration="DocsPaWS.Mobile.VTDocsWSMobileBehavior" name="DocsPaWS.Mobile.VTDocsWSMobile">
    <endpoint address="" binding="wsHttpBinding" contract="DocsPaWS.Mobile.IVTDocsWSMobile"/>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  
  <service behaviorConfiguration="DocsPaWS.VtDocsWS.WebServices.EmailBehavior" name="DocsPaWS.VtDocsWS.WebServices.Email">
    <endpoint address="" binding="wsHttpBinding" contract="DocsPaWS.VtDocsWS.WebServices.IEmail"/>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  
  <service behaviorConfiguration="P3SBCLib.P3SBCServicesBehavior" name="P3SBCLib.P3SBCServices">
    <endpoint address="Mtom" binding="wsHttpBinding" bindingConfiguration="MTomBinding" name="Mtom" contract="P3SBCLib.IP3SBCServices"/>
    <endpoint binding="wsHttpBinding" bindingConfiguration="TextBinding" name="Text" contract="P3SBCLib.IP3SBCServices"/>
  </service>
  
  <service behaviorConfiguration="DocsPaWS.InteroperabilityServiceBehavior" name="DocsPaWS.InteroperabilityService">
    <endpoint binding="wsHttpBinding" bindingConfiguration="SimpInteropBinding" contract="Interoperability.Interfaces.IInteroperabilityService"/>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  
  <service behaviorConfiguration="DocsPaWS.FileServiceBehavior"   name="DocsPaWS.FileService">
    <endpoint binding="basicHttpBinding" bindingConfiguration="SimpInteropBinding" contract="DocsPaVO.FileManager.IFileManager"/>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  
  <!-- PIS  Stuff-->
  <service behaviorConfiguration="VtDocsWS.WebServices.PisBehavior" name="VtDocsWS.WebServices.AddressBook">
    <endpoint address="" binding="basicHttpBinding"  bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IAddressBook"/>
    <endpoint address="" binding="basicHttpBinding"  bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IAddressBook"  bindingConfiguration="onHttps"/>
    <!--<endpoint address="" binding="basicHttpBinding"  bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IAddressBook"  bindingConfiguration="onHttpsAndMessage"/>-->
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  
  <service behaviorConfiguration="VtDocsWS.WebServices.PisBehavior" name="VtDocsWS.WebServices.Authentication" >
    <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IAuthentication"/>
    <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IAuthentication"  bindingConfiguration="onHttps"/>
    <!--<endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IAuthentication"  bindingConfiguration="onHttpsAndMessage"/>-->
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>

  <service behaviorConfiguration="VtDocsWS.WebServices.PisBehavior" name="VtDocsWS.WebServices.CheckWS">
    <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.ICheckWS"/>
    <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.ICheckWS" bindingConfiguration="onHttps"/>
    <!--<endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IClassificationSchemes" bindingConfiguration="onHttpsAndMessage"/>-->
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>

  <service behaviorConfiguration="VtDocsWS.WebServices.PisBehavior" name="VtDocsWS.WebServices.ClassificationSchemes">
    <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IClassificationSchemes"/>
    <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IClassificationSchemes" bindingConfiguration="onHttps"/>
    <!--<endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IClassificationSchemes" bindingConfiguration="onHttpsAndMessage"/>-->
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  
  <service behaviorConfiguration="VtDocsWS.WebServices.PisBehavior" name="VtDocsWS.WebServices.Documents">
    <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior"  contract="VtDocsWS.Services.IDocuments" bindingConfiguration="onMessage"/>
    <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior"  contract="VtDocsWS.Services.IDocuments" bindingConfiguration="onHttps"/>
    <!--<endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior"  contract="VtDocsWS.Services.IDocuments" bindingConfiguration="onHttpsAndMessage"/>-->
    <!--<endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior"  contract="VtDocsWS.Services.IDocuments"/>-->
    
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  
  <service behaviorConfiguration="VtDocsWS.WebServices.PisBehavior" name="VtDocsWS.WebServices.Projects">
    <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IProjects"/>
    <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IProjects" bindingConfiguration="onHttps"/>
    <!--<endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IProjects" bindingConfiguration="onHttpsAndMessage"/>-->
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
    
  <service behaviorConfiguration="VtDocsWS.WebServices.PisBehavior" name="VtDocsWS.WebServices.Registers">
    <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IRegisters"/>
    <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IRegisters" bindingConfiguration="onHttps"/>
    <!--<endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IRegisters" bindingConfiguration="onHttpsAndMessage"/>-->
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  
  <service behaviorConfiguration="VtDocsWS.WebServices.PisBehavior" name="VtDocsWS.WebServices.Roles">
    <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IRoles"/>
    <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IRoles" bindingConfiguration="onHttps"/>
    <!--<endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IRoles" bindingConfiguration="onHttpsAndMessage"/>-->
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
    
  <service behaviorConfiguration="VtDocsWS.WebServices.PisBehavior" name="VtDocsWS.WebServices.Transmissions">
    <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.ITransmissions"/>
    <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.ITransmissions" bindingConfiguration="onHttps"/>
    <!--<endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.ITransmissions" bindingConfiguration="onHttpsAndMessage"/>-->
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>

  <service behaviorConfiguration="VtDocsWS.WebServices.PisBehavior" name="VtDocsWS.WebServices.LibroFirma">
    <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.ILibroFirma"/>
    <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.ILibroFirma" bindingConfiguration="onHttps"/>
    <!--<endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.ILibroFirma" bindingConfiguration="onHttpsAndMessage"/>-->
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>

  <service behaviorConfiguration="VtDocsWS.WebServices.PisBehavior" name="VtDocsWS.WebServices.FilesUploader">
    <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.FilesUploader"/>
    <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.FilesUploader" bindingConfiguration="onHttps"/>
    <!--<endpoint address="" binding="basicHttpBinding" bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.FilesUploader" bindingConfiguration="onHttpsAndMessage"/>-->
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>

  <service behaviorConfiguration="VtDocsWS.WebServices.PisBehavior"        name="VtDocsWS.WebServices.Token">
    <endpoint address="" binding="basicHttpBinding"  bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IToken"/>
    <endpoint address="" binding="basicHttpBinding"  bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IToken" bindingConfiguration="onHttps"/>
    <!--<endpoint address="" binding="basicHttpBinding"  bindingNamespace="http://nttdata.com/2012/Pi3" behaviorConfiguration="singleFileEndpointBehavior" contract="VtDocsWS.Services.IToken" bindingConfiguration="onHttpsAndMessage"/>-->
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>

</services>
