<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DMFileOperationSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.14.128/WSDM2005/DMFileOperation.asmx"
                binding="basicHttpBinding" bindingConfiguration="DMFileOperationSoap"
                contract="DMFileOperation.DMFileOperationSoap" name="DMFileOperationSoap" />
        </client>
    </system.serviceModel>
</configuration>