<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ConservazioneWA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <appSettings>
    <add key="LOG_LEVEL" value="2"/>
    <add key="DEBUG_PATH" value="C:\DocsPA30\AppDebug\ConsWA\%DATA"/>
    <add key="TEMA" value="TemaBlu"/>
    <add key="EXECUTIONTIMEOUT" value="1800000"/>
    <add key="PROXY" value=""/>
    <add key="PROXYURL" value=""/>
    <add key="PROXYCREDENTIALS" value=""/>
    <add key="PROXYUSERNAME" value=""/>
    <add key="PROXYPASSWORD" value=""/>
    <add key="PROXYDOMAIN" value=""/>
    <add key="DISABLE_LOGOUT_CLOSE_BUTTON" value="true"/>
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <webServices>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </soapExtensionImporterTypes>
    </webServices>
    <httpModules>
      <add name="SessionTimeout" type="ConservazioneWA.sessione.SessionTimeout,ConservazioneWA"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <applicationSettings>
    <ConservazioneWA.Properties.Settings>
      <setting name="VerificaIntegritaServices" serializeAs="String">
        <value>http://localhost/DocsPa30/DocsPaWS/Conservazione/Integrita/IntegritaServices.asmx</value>
      </setting>
      <setting name="ConservazioneWA_DocsPaWR_DocsPaWebService" serializeAs="String">
        <value>http://localhost/Vt-Docs/DocsPaWS/DocsPaWS.asmx</value>
      </setting>
      <setting name="ConservazioneWA_WSConservazioneLocale_DocsPaConservazioneWS"
        serializeAs="String">
        <value>http://localhost/vt-docs/docspaws/DocsPaConservazioneWS.asmx</value>
      </setting>
    </ConservazioneWA.Properties.Settings>
  </applicationSettings>
</configuration>