.messager {
    text-align: center;
    background: #feead2 url('../Images/Common/bg_messager.png') repeat-x top left;
    padding: 0;
    border: 2px solid #fcb55d;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    max-width: 700px;
    min-height: 90px;
    /*float: left;*/
    width: 100%;
    margin: 10px auto;
    clear: both;
}

.messager img {
	vertical-align: middle;
}

.messager_c1 {float: left; width: 27%; text-align: right;}
.messager_c2 {float: left; width: 40%; text-align: center; margin: 0 3%;}
.messager_c2 span 
{
    color: #f5ae44;
    font-weight: bold;
	text-transform: uppercase;
	padding: 15px 0 0 0;
	margin: 0;
	display: block;
}
.messager_c3 {float: left; width: 27%; text-align: left;}