.tipsy
{
    font-size: 1em;
    position: absolute;
    padding: 5px;
    z-index: 100000;
    font-family: Verdana, Arial, Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.tipsy-inner
{
    background-color: #ffffff;
    color: #333333;
    max-width: 200px;
    padding: 7px 10px 6px 10px;
    text-align: center;
    border: 3px solid #b1c2d2;
}

/* Rounded corners */
.tipsy-inner
{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/

.tipsy-arrow
{
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    border: 5px dashed #b1c2d2;
}

/* Rules to colour arrows */
.tipsy-arrow-n
{
    border-bottom-color: #b1c2d2;
}
.tipsy-arrow-s
{
    border-top-color: #b1c2d2;
}
.tipsy-arrow-e
{
    border-left-color: #b1c2d2;
}
.tipsy-arrow-w
{
    border-right-color: #b1c2d2;
}

.tipsy-n .tipsy-arrow
{
    top: 0px;
    left: 50%;
    margin-left: -5px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-nw .tipsy-arrow
{
    top: 0;
    left: 10px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-ne .tipsy-arrow
{
    top: 0;
    right: 10px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-s .tipsy-arrow
{
    bottom: 0px;
    left: 50%;
    margin-left: -5px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-sw .tipsy-arrow
{
    bottom: 0;
    left: 10px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-se .tipsy-arrow
{
    bottom: 0;
    right: 10px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-e .tipsy-arrow
{
    right: 0;
    top: 50%;
    margin-top: -5px;
    border-left-style: solid;
    border-right: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.tipsy-w .tipsy-arrow
{
    left: 0;
    top: 50%;
    margin-top: -5px;
    border-right-style: solid;
    border-left: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.reference-tip
{
    font-size: 2em;
    position: absolute;
    padding: 5px;
    z-index: 100000;
    font-family: Verdana, Arial, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.reference-tip .tipsy-inner
{
    background-color: #ffffff;
    color: #333333;
    max-width: 600px;
    padding: 7px 10px 6px 10px;
    text-align: center;
    border: 3px solid #b1c2d2;
}

.repsped_longtxt
{
    font-size: 0.8em;
    position:absolute;
    padding:5px;
    z-index:100000;
    font-family: Verdana, Arial, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.repsped_longtxt .tipsy-inner
{
    background-color: #ffffff;
    color: #333333;
    max-width: 900px;
    padding: 7px 10px 6px 10px;
    text-align: center;
    border: 3px solid #b1c2d2;
}

.clickable-large
{
    font-size: 1em;
    position: absolute;
    padding: 5px;
    z-index: 100000;
    font-family: Verdana, Arial, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.clickable-large .tipsy-inner
{
    background-color: #ffffff;
    color: #333333;
    max-width: 300px;
    padding: 7px 10px 6px 10px;
    text-align: center;
    border: 3px solid #b1c2d2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.clickable-large-left
{
    font-size: 1em;
    position: absolute;
    padding: 5px;
    z-index: 100000;
    font-family: Verdana, Arial, Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.clickable-large-left .tipsy-inner
{
    background-color: #ffffff;
    color: #333333;
    max-width: 300px;
    margin-left:-100px;
    margin-top:-5px;
    padding: 7px 10px 6px 5x;
    text-align: center;
    border: 3px solid #b1c2d2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
