<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="LCDocsPaService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup>
  <supportedRuntime version="v2.0.50727"/>
</startup>
  <appSettings>
    <!--"Impostazioni del servizio"-->
    <add key="ServiceName" value="servizio coda lifecycle" />
    <add key="ServiceDescription" value="servizio coda lifecycle" />
    <!--"Automatic","Disabled","Manual"-->
    <add key="ServiceStartup" value="Automatic" />
    <!--"LocalSystem","LocalService","NetworkService","User"-->
    <add key="ServiceAccountType" value="LocalService" />
    <!--Usato Solo se ServiceAccountType è impostato a user-->
    <add key="SvcUserName" value="user" />
    <add key="SvcPassword" value="pass" />
    <!--Impostazioni applicative-->
    <add key="pathLog" value="C:\codapdf\logs\LcDocspaSvc.txt" />
    <add key="loglevel" value="9" />
    <add key="pollingDelay" value="10000" />  

    <!--"Impostazioni Coda Lifecycle"-->
    <add key="AdobeQueueFolder" value="c:\inetpub\wwwroot\codapdf" />
    
    <add key="AdobeInputFolder" value="P:\input" />
    <add key="AdobeOutputFolder" value="P:\output" />
    <add key="AdobeFailureFolder" value="p:\error" />

    <add key="AdobeInputFolderHtml" value="" />
    <add key="AdobeOutputFolderHtml" value="" />
    <add key="AdobeFailureFolderHtml" value="" />

    <!--"se RemoteFolderRoot è valorizzato , allora è necessario impostare pure i valori sotto"-->
    <add key="RemoteFolderRoot" value="\\machinename\share" />
    <add key="RemoteFolderUser" value="Administrator" />
    <add key="RemoteFolderDomain" value="machnename_or_domain" />
    <add key="RemoteFolderPass" value="password" />
  </appSettings>
  
  
  <applicationSettings>
        <LCDocsPaService.Properties.Settings>
            <setting name="LCDocsPaService_DocsPa_DocsPaWebService" serializeAs="String">
                <value>http://localhost:53272/strippedWS/docspaws.asmx</value>
            </setting>
        </LCDocsPaService.Properties.Settings>
    </applicationSettings>
</configuration>
