<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DMFileOperationSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384000" maxBytesPerRead="4096" maxNameTableCharCount="16384000"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="DMFileOperationSoap1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.174.69.181/WSDM2005/DMFileOperation.asmx" binding="basicHttpBinding" bindingConfiguration="DMFileOperationSoap" contract="DMFileOperation.DMFileOperationSoap" name="DMFileOperationSoap"/>
      <endpoint address="http://10.174.69.181/WSDM2005/DMFileOperation.asmx" binding="basicHttpBinding" bindingConfiguration="DMFileOperationSoap1" contract="DMFileOperation.DMFileOperationSoap" name="DMFileOperationSoap1"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
