<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Hummingbird_form" value="DEF_PROF"/>
    <add key="Hummingbird_Lib" value="AQF"/>
    <add key="Hummingbird_user" value="hermes"/>
    <add key="Hummingbird_password" value="nttdata$123"/>
  </appSettings>
</configuration>