<%@ ContentType="text/css" %>
.green_bar{
	background:url(<%= Request.ApplicationPath %>/Content/Green/img/green_bar_bg.gif) repeat-x left top;);
}
/*CLASSI LOGIN*/
#logo{
	
}

.login_grid{

}
.login_grid TR TD{
	
	
}
.login_grid TR TD INPUT.input_text{
	
}
.login_grid TR TD .login_submit{
	background:url(<%= Request.ApplicationPath %>/Content/Green/img/login_submit_bg.gif) repeat-x left top;);
	
	
	border:0px;width:100%;}
/*CLASSI LOGIN END*/
#footer {
		
}
#footer_bar{
	
	
}
#footer_bar .bg {
	

	background:url(<%= Request.ApplicationPath %>/Content/Green/img/footer_bar_bg.gif) repeat-x left top;
	
}
*html #footer_bar .bg{
	background:url(<%= Request.ApplicationPath %>/Content/Green/img/footer_bar_bg.gif) repeat-x left top!important;
	
}

#footer_bar .cont{
	
}
#footer_bar .cont UL{
	
}
#footer_bar .cont UL LI.disabled{}

#footer_bar .cont UL LI {
	
	
}
#footer_bar .cont UL LI.first{
	
}
#footer_bar .cont UL LI A{
	
}
#wrapper {

}

#scroller {
}



/*HEADER SERVICE BAR*/

#header {
	background:url(<%= Request.ApplicationPath %>/Content/Green/img/header_bg.gif) repeat-x left top;
	
}
#header UL{
	
}
#header UL LI{
	
}
#header UL LI.on{
	background:url(<%= Request.ApplicationPath %>/Content/Green/img/header_li_on.gif) repeat-x left top;

	
}
* html #header UL LI.ico_adl{width:24.6%}
#header UL LI P{
	
}
#header UL LI A{
	background:#00487a;
	
}

#nnotifiche{
 background:url(<%= Request.ApplicationPath %>/Content/Green/img/nnotifiche_bg.png) no-repeat left top;
 
 
}
* html #nnotifiche{

	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='<%= Request.ApplicationPath %>/Content/Green/img/nnotifiche_bg.png', sizingMethod='crop');	
}
#service_bar{
	
}

#filter_ruolo{
	background:url(<%= Request.ApplicationPath %>/Content/Green/img/filter_ruolo_bg.gif) no-repeat 5px center #dfdfdf;	
	
}
#filter_ruolo SELECT{
	
}
#paginatore{

}
#paginatore P{

}
#paginatore IMG.disabled{

}

.item_list{
	
}
.item_list .item{
	
}
.item_list .item .data_tipo{

}
.item_list .item .mittente{
	
}
.item_list .item .categ{
	
}
.item_list .item .oggetto{
	
}
.item_list .item .oggetto A{
	
}
.item_list .item .ico_open{
	
}

.pulsante_classic{

	

}
*html .pulsante_classic{background:url(<%= Request.ApplicationPath %>/Content/Green/img/pulsante_bg.gif) repeat-x left top;	}
.pulsante_classic A{

}
#folder_name{
	background:url(<%= Request.ApplicationPath %>/Content/Green/img/folder_name_bg.gif) no-repeat right center #efefef;
	
}
.none{

}

.info H2{
	
}
#info_trasm .dett_trasm{}
#info_trasm .dett_trasm TABLE{}
#info_trasm .dett_trasm TH{}
#info_trasm .dett_trasm TD{}
.info .sep{}

.info H3{}
.info p{}
.select p{}

#prev_doc{text-align:center;position:relative;background-position:center top;background-repeat:no-repeat;height:344px;}

#link_doc{position:relative;width:170px;margin:auto;padding:215px 0px 50px 0px;}
#link_doc .pulsante{
	background:url(<%= Request.ApplicationPath %>/Content/Green/img/pulsante_bg.gif) repeat-x left top;	
	
	
}
#link_doc .pulsante A{
	
}
#image_zoomed{}

#loading{}
	
#ricerca_item{}
#ricerca_item H2{
	
}
.filter_ricerca{
	background:url(<%= Request.ApplicationPath %>/Content/Green/img/filter_ricerca_bg.gif) no-repeat 5px center #dfdfdf;	
	
}
.filter_ricerca SELECT{}
.puls_cerca,.puls_blue{
	
}
.puls_cerca{background:url(<%= Request.ApplicationPath %>/Content/Green/img/puls_cerca.gif) no-repeat left top;}
.puls_cerca.disabled{background:url(<%= Request.ApplicationPath %>/Content/Green/img/puls_cerca-disabled.gif) no-repeat left top; color:#ccc}

.puls_blue{background:url(<%= Request.ApplicationPath %>/Content/Green/img/puls_blue.gif) no-repeat left top;width:83px;}
.puls_blue.disabled{background:url(<%= Request.ApplicationPath %>/Content/Green/img/puls_blue-disabled.gif) no-repeat left top; color:#ccc}

#service_bar H2{

}
.filter_trasm{
	
}
.filter_trasm SELECT{

}
#trasmissione_doc TEXTAREA{}

.emptylist{}
.no_todolist{margin:15px;background:url(<%= Request.ApplicationPath %>/Content/Green/img/no_todolist.jpg) no-repeat center top;height:350px;}
.no_todolist_fascicolo{margin:15px;background:url(<%= Request.ApplicationPath %>/Content/Green/img/no_todolist_fascicolo.jpg) no-repeat center top;height:350px;}
.no_ricerca{margin:15px;background:url(<%= Request.ApplicationPath %>/Content/Green/img/no_ricerca.jpg) no-repeat center top;height:350px;}

/* tooltipselect */
.contList{}
.contList h2{}
.contList .contScroll{}
.contList .contScroll ul#listSelect{}
.contList .contScroll ul#listSelect li{border-bottom: 1px solid #CCC; -webkit-border-radius:4px; font-size: 16px; line-height: 30px; list-style: none; padding: 0px 10px; background:url(<%= Request.ApplicationPath %>/Content/Green/img/bg-select-option.gif) 98% 3px no-repeat; padding-right:40px; height:40px; line-height:40px; overflow:hidden}
/*.contList .contScroll ul#listSelect li:hover {background:url(<%= Request.ApplicationPath %>/Content/Green/img/bg-select-option.gif) 98% 3px no-repeat; }*/
.conts{}
div.select{padding:0; margin:0 0 0 2px; line-height:16px; height:14px; border:1px solid #b3b3b3; overflow:hidden; padding:4px; -webkit-border-radius:4px; background:url(<%= Request.ApplicationPath %>/Content/Green/img/select-arrow.gif) top right no-repeat, -webkit-gradient(linear, left bottom, left top, color-stop(0, #d0d0d0), color-stop(1, #fefefe)); padding-right:30px; float:left;}


/*TOOLTIP*/
#tooltip{
	
}
*html #tooltip{
	background:url(<%= Request.ApplicationPath %>/Content/Green/img/tooltip_bg.gif) repeat-x left top;
}	
#tooltip .titolo{

}
#tooltip .content{

}
#tooltip .content TEXTAREA{}
#tooltip .deny{
	
}
*html #tooltip .deny{
	background:url(<%= Request.ApplicationPath %>/Content/Green/img/puls_deny_bg.gif) repeat-x left top;
}

#tooltip .confirm{
	background:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(73,152,16)),color-stop(0.64, rgb(107,189,49)),color-stop(0.55, rgb(127,200,59)),color-stop(1, rgb(143,212,74)));
	background:-moz-linear-gradient( center bottom,  rgb(73,152,16) 0%, rgb(107,189,49) 64%, rgb(127,200,59) 55%,  rgb(143,212,74) 100%);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#8bd348,endColorStr=#499810);

	border:2px solid #B0E362;

}
*html #tooltip .confirm{
	background:url(<%= Request.ApplicationPath %>/Content/Green/img/puls_confirm_bg.gif) repeat-x left top;
}
#tooltip .center{}

#tooltip .half{}
#tooltip .half .deny{}
#tooltip .half .confirm{}
/*TOOLTIP*/